<div class="panel__header">
	<h2 class="title panel__title"><span class="current">Autores</span></h2>
	<div class="panel__actions">
		<%= link_to "Nuevo Autor", new_panel_author_path, class: "button" %>
	</div>
</div>
<div class="table card">
	<div class="table__row">
		<p class="table__cell">Nombre:</p>
		<div class="table__image">Imagen:</div>

		<p class="table__cell">Fecha de creación:</p>
		<p class="table__cell">Artículos:</p>
		<p class="table__cell">Editar:</p>
		<p class="table__cell">Delete:</p>
	</div>
	<% @authors.each do |author| %>
		<div class="table__row">
			<%= link_to author.name, panel_author_path(author), class: "table__cell" %>
			<img src="<%= author.logo %>" alt=<%= author.name %> class="table__image">

			<p class="table__cell"><%= author.created_at.strftime("%A, %d %b %Y %l:%M %p") %></p>
			<p class="table__cell"><%= author.articles.count %></p>
			<%= link_to "Editar", edit_panel_author_path(author), class: "table__cell edit" %>
			<%= link_to "Delete", panel_author_path(author), method: :delete, data: { confirm: "¿Estas seguro de querer eliminar el banenr? Esta acción no se puede deshacer." }, class: "table__cell delete" %>
		</div>
	<% end %>	
</div>