<div class="special-articles">
	<div class="special-articles__type">
		<p class="type">Colaboradores</p>
		<%= link_to "Ir a sección", collaborators_path, class: "link" %>
	</div>
	<% articles.each do |article| %>
		<%= link_to article, class: "collaborator-note" do %>
			<%= article %>		
			<%= article.article_relationships[0] %>		
			<%= article.article_relationships[0].articable %>		
			<%# image_tag article.article_relationships[0].articable.image, class: "collaborator__image" %>
			<div class="collaborator__info">
				<p class="note__title"><%= truncate(article.name, length: 60) %></p>
				<p class="note__author"><%= article.article_relationships[0].articable.name %></p>
			</div>
		<% end %>
	<% end %>
</div>