<div class="special-articles">
	<div class="special-articles__type">
		<p class="type">Columnas del día</p>
		<%= link_to "Ir a sección", collaborators_path, class: "link" %>
	</div>
	<% articles.each do |article| %>
		<% if article.article_relationships.where(articable_type: "Relationship").first.articable %>

			<%= link_to article, class: "collaborator-preview" do %>

				<div class="collaborator__head">
					<%= image_tag article.article_relationships.where(articable_type: "Relationship").first.articable.image, class: "collaborator__image" %>
					<div class="collaborator__info">
						
						<h4 class="collaborator__title"><%= truncate(article.name, length: 200) %></h4>
						<p class="collaborator__name"><%= article.article_relationships.where(articable_type: "Relationship").first.articable.name %></p>
					</div>

				</div>
				<p class="collaborator__excerpt"><%= truncate(article.short_description, length:  120) %></p> 
				
				
			<% end %>


		<% end %>	

	<% end %>
</div>