<div class="header--wrapper">
	<div class="header">
		<div class="header__container container--1">
			
			<%= link_to root_path, class: "header__logo" do %>
				<%= image_tag "logo-white.svg", class: "" %>
			<% end %>
			<div class="menu-trigger">
				<div class="mt-1"></div>
				<div class="mt-2"></div>
				<div class="mt-3"></div>
			</div>
		</div>
		<div class="header__container container--2">
			<div class="weather">
				<%= image_tag "temperature.svg" %>
				<div class="weather__data">
					<p id="wl" class="weather__location" data-turbolinks-permanent> 
						
					</p>
					<p>
						<span id="wd" class="weather__degrees" data-turbolinks-permanent>--.--</span>
						<span id="wu" class="weather__units">°C</span>
					</p>
				</div>
			</div>
			<div class="exchange-rate dollar">
				<%= image_tag "dollar.svg" %>
				<p class="">
					<span class="exchange-rate__name">USD</span>
					<br>
					<span id="usd" class="exchange-rate__rate" data-turbolinks-permanent>$--.--</span>
				</p>
			</div>
			<div class="exchange-rate euro">
				<%= image_tag "euro.svg" %>
				<p class="">
					<span class="exchange-rate__name">EUR</span>
					<br>
					<span id="eur" class="exchange-rate__rate" data-turbolinks-permanent>$--.--</span>
				</p> 			
			</div>
		</div>
	</div>
</div>