<div class="header--wrapper">
	<div class="header">
		<%= link_to root_path, class: "header__logo" do %>
			<%= image_tag "logo-gradient.svg", class: "" %>
		<% end %>
		<div class="weather">
			<%= image_tag "temperature.svg" %>
			<div class="weather__data">
				<p id="wl" class="weather__location" data-turbolinks-permanent> 
					
				</p>
				<p>
					<span id="wd" class="weather__degrees" data-turbolinks-permanent>--.--</span>
					<span id="wu" class="weather__units">°C</span>
				</p>
			</div>
		</div>
		<div class="exchange-rate dollar">
			<%= image_tag "dollar.svg" %>
			<p class="">
				<span class="exchange-rate__name">USD</span>
				<br>
				<span id="usd" class="exchange-rate__rate" data-turbolinks-permanent>$--.--</span>
			</p>
		</div>
		<div class="exchange-rate euro">
			<%= image_tag "euro.svg" %>
			<p class="">
				<span class="exchange-rate__name">EUR</span>
				<br>
				<span id="eur" class="exchange-rate__rate" data-turbolinks-permanent>$--.--</span>
			</p> 			
		</div>
	</div>
</div>