<div class="horizontal-article">
	
	<%= image_tag article.image, class: "article__image" %>
	<div class="article__information">
		<%= link_to article, class: "wrapper-link" do %>
			<h4 class="small-title semibold"><%= article.name %></h4>
			<p class="section-and-author"><span class="section"><%= article.section %></span> - 

			<% if article.author and article.author.name != "Ninguno" %>
				<span class="author">Por <%= article.author.name %></p>

			<% else %>
				<span class="author">Por <%= article.user.full_name %></p>
			<% end %>


				
			<p class="datetime">Hace <%= distance_of_time_in_words(Time.now, (article.created_at)) %></p>
			<p class="short-description"><%= truncate(article.short_description, length: 120) %></p> 	
		<% end %>
		<%= render "components/social-media-links", article: article %>
	</div>
</div>