<div class="latest-news">
	<div class="special-articles__type">
		<p class="type">Minuto a minuto</p>
		<p class="link">&nbsp; </p>

	</div>
	<div id="latest_news" >
		
	</div>
	<% ArticlesJob.perform_now.each do |article| %>
		<% if article.section != "Quiénes somos" and  article.section != "Contáctanos" and article.section != "Anunciate con nosotros"  %>
					
			<%= link_to article, class: "latest-news__article" do %>
				<div class="clock">
					<div class="hours"></div>
					<div class="minutes"></div>
				</div>
				<% if article.scheduled_time %>
					<p class="article__time"><%= article.scheduled_time.strftime("%H:%M") %></p>	
				<% else %>
					<p class="article__time"><%= article.created_at.strftime("%H:%M") %></p>
				<% end %>
				<p class="article__title"><%= truncate(article.name, length: 55) %><br><span><%= article.section %></span></p>
			<% end %>
		<% end %>
	<% end %>
	
</div>

<script type="text/javascript">
	function update_info(article_name, section) {
		console.log("lalalala");
		$('#latest_news').append('<p class="article__title">' + article_name.substring(0,55) + '<br><span>' + section + '</span></p>');
		

	}

</script>