<div class="mobile-menu">
	<div class="mobile-menu__row">

		<div class="mobile-menu__column">
			<div class="mobile-menu__section">
				<h4 class="mobile-menu__section-title">Secciones:</h4>
				<% cache get_sections do %>
					<% get_sections.each do |section| %>
						<%= link_to section.name, section, class: "mobile-menu__link" %>
					<% end %>
				<% end %>
			</div>
		</div>

		<div class="mobile-menu__column">

			<div class="mobile-menu__section">
				<h4 class="mobile-menu__section-title">Radio en vivo:</h4>
				<% if action_name == "show" and controller_name == "stations" %>
					<% cache get_radio_stations do %>
						<% get_radio_stations.each do |station| %>
							<%= link_to station.name, station, class: "mobile-menu__link", target: "_blank"  %>
						<% end %>
					<% end %>
				<% else %>
					<% cache get_radio_stations do %>
						<% get_radio_stations.each do |station| %>
							<%= link_to station.name, station, class: "mobile-menu__link", target: "_blank" %>
						<% end %>
					<% end %>
				<% end %>
			</div>

			<div class="mobile-menu__section">
				<h4 class="mobile-menu__section-title">Podcast Ke Buena:</h4>
				<%= link_to "Los hijos de la mañana", "https://www.globalmedia.mx/stations/loshijosdelamanana", class: "mobile-menu__link", target: "_blank" %>
				<%= link_to "Ke buen rollo", "https://www.globalmedia.mx/stations/kebuenrollo", class: "mobile-menu__link", target: "_blank" %>
				<%= link_to "Las llegadoras", "https://www.globalmedia.mx/stations/lasllegadoras", class: "mobile-menu__link", target: "_blank" %>
			</div>

			<div class="mobile-menu__section">
				<h4 class="mobile-menu__section-title">Podcast Los 40:</h4>
				<%= link_to "Los 40 trendy", "https://www.globalmedia.mx/stations/los40trendy", class: "mobile-menu__link", target: "_blank" %>
				<%= link_to "La corneta", "https://www.globalmedia.mx/stations/lacorneta", class: "mobile-menu__link", target: "_blank" %>
				<%= link_to "Los 40 no cover", "https://www.globalmedia.mx/stations/los40nocover", class: "mobile-menu__link", target: "_blank" %>
			</div>

			<div class="mobile-menu__section">
				<h4 class="mobile-menu__section-title">Imagen Radio:</h4>
				<%= link_to "Cuento Contigo", "https://www.globalmedia.mx/stations/CUENTOCONTIGO", class: "mobile-menu__link", target: "_blank" %>
        <%= link_to "Eva María Camacho", "https://www.globalmedia.mx/stations/IMAGENINFORMATIVACONEVAMARÍACAMACHO", class: "mobile-menu__link", target: "_blank" %>
      </div>

			<div class="mobile-menu__section">
				<h4 class="mobile-menu__section-title">Noticieros:</h4>
				<%= link_to "Así las cosas con Erika Salgado", "https://www.globalmedia.mx/stations/AsílascosasSLP", class: "mobile-menu__link", target: "_blank" %>
      </div>

		</div>
	</div>
</div>