<div class="mobile-menu">
	<div class="mobile-menu__row">

		<div class="mobile-menu__column">
			<div class="mobile-menu__section">
				<h4 class="mobile-menu__section-title">Secciones</h4>
				<% cache get_sections do %>
					<% get_sections.each do |section| %>
						<%= link_to section.name, section, class: "mobile-menu__link" %>
					<% end %>
				<% end %>
			</div>

		</div>



		<div class="mobile-menu__column">

			<div class="mobile-menu__section">
				<h4 class="mobile-menu__section-title">Radio en vivo</h4>
				<% if action_name == "show" and controller_name == "stations" %>
					<% cache get_radio_stations do %>
						<% get_radio_stations.each do |station| %>
							<%= link_to station.name, station, class: "mobile-menu__link", target: "_blank"  %>
						<% end %>
					<% end %>
				<% else %>
					<% cache get_radio_stations do %>
						<% get_radio_stations.each do |station| %>
							<%= link_to station.name, station, class: "mobile-menu__link", target: "_blank" %>
						<% end %>
					<% end %>
				<% end %>
			</div>

      <div class="mobile-menu__section">
        <h4 class="mobile-menu__section-title">TV en vivo</h4>
        <%= link_to "GlobalMedia TV", "/stations/GLOBALMEDIATV", class: "mobile-menu__link", target: "_blank" %>
      </div>

      <div class="mobile-menu__section">
        <h4 class="mobile-menu__section-title">Podcast Noticieros </h4>
        <%= link_to "AltaVOX con Erika Salgado y Jonatha Flores ", "/stations/ALTAVOX-PODCAST", class: "mobile-menu__link", target: "_blank" %>
        <%= link_to "Imagen Informativa con Jonatha Flores", "/stations/ImagenInformativaconJonathanFlores", class: "mobile-menu__link", target: "_blank" %>
        <%= link_to "Así la Cosas en el Bajío con Hector Trejo", "/stations/AsílascosasenelBajío", class: "mobile-menu__link", target: "_blank" %>
        <%= link_to "Así las Cosas Vallarta con Sarahí Ortiz", "/stations/As%C3%ADlascosasWFMVallarta", class: "mobile-menu__link", target: "_blank" %>
      </div>

      <div class="mobile-menu__section">
        <h4 class="mobile-menu__section-title">Podcast Entretenimiento </h4>
        <%= link_to "Cuento Contigo", "/stations/CUENTOCONTIGO", class: "mobile-menu__link", target: "_blank" %>
				<%= link_to "La Corneta", "/stations/lacorneta", class: "mobile-menu__link", target: "_blank" %>
      </div>

			<div class="mobile-menu__section">
				<h4 class="mobile-menu__section-title">Podcast Los 40:</h4>
				<%= link_to "Los 40 No Cover", "/stations/los40nocover", class: "mobile-menu__link", target: "_blank" %>
			</div>

		</div>
	</div>
</div>