<div class="mobile-menu">
	<div class="mobile-menu__row">

		<div class="mobile-menu__column">
			<div class="mobile-menu__section">
				<h4 class="mobile-menu__section-title">Secciones:</h4>
				<% cache get_sections do %>
					<% get_sections.each do |section| %>
						<%= link_to section.name, section, class: "mobile-menu__link" %>
					<% end %>
				<% end %>
			</div>
		</div>

		<div class="mobile-menu__column">

			<div class="mobile-menu__section">
				<h4 class="mobile-menu__section-title">Radio en vivo:</h4>
				<% if action_name == "show" and controller_name == "stations" %>
					<% cache get_radio_stations do %>
						<% get_radio_stations.each do |station| %>
							<%= link_to station.name, station, class: "mobile-menu__link", target: "_blank"  %>
						<% end %>
					<% end %>
				<% else %>
					<% cache get_radio_stations do %>
						<% get_radio_stations.each do |station| %>
							<%= link_to station.name, station, class: "mobile-menu__link", target: "_blank" %>
						<% end %>
					<% end %>
				<% end %>
			</div>

			<div class="mobile-menu__section">
				<h4 class="mobile-menu__section-title">Entretenimiento:</h4>
				<% if action_name == "show" and controller_name == "stations" %>
					<% cache get_video_stations do %>
						<% get_video_stations.each do |station| %>
							<%= link_to station.name, station, class: "mobile-menu__link", target: "_blank"  %>
						<% end %>
					<% end %>
				<% else %>
					<% cache get_video_stations do %>
						<% get_video_stations.each do |station| %>
							<%= link_to station.name, station, class: "mobile-menu__link", target: "_blank" %>
						<% end %>
					<% end %>
				<% end %>
			</div>

			<div class="mobile-menu__section">
				<h4 class="mobile-menu__section-title">Noticieros:</h4>
				<% if action_name == "show" and controller_name == "stations" %>
					<% cache get_video_stations do %>
						<% get_news_stations.each do |station| %>
							<%= link_to station.name, station, class: "mobile-menu__link", target: "_blank"  %>
						<% end %>
					<% end %>
				<% else %>
					<% cache get_video_stations do %>
						<% get_news_stations.each do |station| %>
							<%= link_to station.name, station, class: "mobile-menu__link", target: "_blank" %>
						<% end %>
					<% end %>
				<% end %>
			</div>

		</div>
	</div>
</div>