<div class="navbar">
	<%= link_to root_path, class: "navbar__link" do %>
		<%= image_tag "home.svg" %>		
	<% end %>
	<%= link_to "Radio y TV", root_path, class: "navbar__link" %>
	<%= link_to "San Luis", root_path, class: "navbar__link" %>
	<%= link_to "Seguridad", root_path, class: "navbar__link" %>
	<%= link_to "Nacional", root_path, class: "navbar__link" %>
	<%= link_to "Negocios", root_path, class: "navbar__link" %>
	<%= link_to "Táctica", root_path, class: "navbar__link" %>
	<%= link_to "Colaboradores", root_path, class: "navbar__link" %>
	<%= link_to "Acerca de", root_path, class: "navbar__link" %>
</div>