<div class="navbar">
	<%= link_to root_path, class: "navbar__link" do %>
		<%= image_tag "home.svg" %>
	<% end %>
	<div class="dropdown">
		<%= link_to "Radio en vivo", stations_path, class: "navbar__link" %>
		<div class="dropdown__options dropdown__radio">
			<div class="dropdown__row radio-row">
				<div class="dropdown__col">
					<p class="dropdown__section radio-title">Radio</p>
					<div class="line"></div>
					<%= link_to "/stations/Los40", target:"_blank" do %>
						<%= image_tag "https://globalmediarocks.s3.us-west-1.amazonaws.com/LOGOS/LOS+40+SLP.png" %>
					<% end %>
					<%= link_to "/stations/VOX969", target:"_blank" do %>
						<%= image_tag "https://globalmediarocks.s3.us-west-1.amazonaws.com/LOGOS/LOGO+VOX.png" %>
					<% end %>
					<%= link_to "/stations/WRadio", target:"_blank" do %>
						<%= image_tag "https://globalmediarocks.s3.us-west-1.amazonaws.com/LOGOS/LOGO+W+RADIO.png" %>
					<% end %>
					<%= link_to "/stations/KeBuena", target:"_blank" do %>
						<%= image_tag "https://globalmediarocks.s3.us-west-1.amazonaws.com/LOGOS/KE+BUENA+SLP1.png" %>
					<% end %>
					<%= link_to "/stations/ImagenRadio", target:"_blank" do %>
						<%= image_tag "https://globalmediarocks.s3.us-west-1.amazonaws.com/LOGOS/IMAGEN+RADIO.png" %>
					<% end %>
					<%= link_to "/stations/Trión", target:"_blank" do %>
						<%= image_tag "https://globalmediarocks.s3.us-west-1.amazonaws.com/LOGOS/TRION.png" %>
					<% end %>
          <%= link_to "/stations/KeBuenaVallarta", target:"_blank" do %>
            <img src="https://globalmediarocks.s3.us-west-1.amazonaws.com/LOGOS/KE+BUENAVALLARTA1.png" alt="Ke buena vallarta">
          <% end %>
          </div>
			</div>
		</div>
	</div>

	<div class="dropdown">
		<%= link_to "Podcast", stations_path, class: "navbar__link" %>
		<div class="dropdown__options dropdown__radio">
			<div class="dropdown__row radio-row">
				<div class="dropdown__col">
					<p class="dropdown__section radio-title">Ke Buena</p>
					<div class="line"></div>
					<%= link_to "/stations/loshijosdelamanana" do %>
						<%= image_tag "https://globalmedia-gm.s3-us-west-1.amazonaws.com/2021-01-25/PODCAST_NUEVOS_1.png" %>
					<% end %>
					<%= link_to "/stations/kebuenrollo" do %>
						<%= image_tag "https://globalmedia-gm.s3-us-west-1.amazonaws.com/2021-01-25/PODCAST_NUEVOS_2.png" %>
					<% end %>
					<%= link_to "/stations/lasllegadoras" do %>
						<%= image_tag "https://globalmedia-gm.s3-us-west-1.amazonaws.com/2021-01-25/PODCAST_NUEVOS_3.png" %>
					<% end %>
				</div>
			</div>

			<div class="dropdown__row radio-row">
				<div class="dropdown__col">
					<p class="dropdown__section radio-title">Los 40 </p>
					<div class="line"></div>
					<%= link_to "/stations/lacorneta" do %>
						<%= image_tag "https://globalmedia-gm.s3-us-west-1.amazonaws.com/2021-01-25/PODCAST_NUEVOS_4.png" %>
					<% end %>
					<%= link_to "/stations/los40trendy" do %>
						<%= image_tag "https://globalmedia-gm.s3-us-west-1.amazonaws.com/2021-01-25/PODCAST_NUEVOS_5.png" %>
					<% end %>
					<%= link_to "/stations/los40nocover" do %>
						<%= image_tag "https://globalmedia-gm.s3-us-west-1.amazonaws.com/2021-01-25/PODCAST_NUEVOS_6.png" %>
					<% end %>
				</div>
			</div>

			<div class="dropdown__row radio-row">
				<div class="dropdown__col">
					<p class="dropdown__section radio-title">Entretenimiento y Espectáculo</p>
					<div class="line"></div>
          <%= link_to "/stations/ELTRENDELMAME" do %>
            <%= image_tag "https://globalmedia-gm.s3-us-west-1.amazonaws.com/18-03-2021/PODCAST_EL_tren_mame.jpg" %>
          <% end %>
          <%= link_to "/stations/10ALAS10" do %>
            <%= image_tag "https://globalmedia-gm.s3-us-west-1.amazonaws.com/18-03-2021/PODCAST_10A_LAS10.jpg" %>
          <% end %>
          <%= link_to "/stations/CUENTOCONTIGO" do %>
            <%= image_tag "https://globalmedia-gm.s3-us-west-1.amazonaws.com/18-03-2021/boton_cuenta_conmigo.jpg" %>
          <% end %>
				</div>
			</div>

			<div class="dropdown__row radio-row">
				<div class="dropdown__col">
					<p class="dropdown__section radio-title">Noticieros</p>
					<div class="line"></div>
					<%= link_to "/stations/As%C3%ADlascosasSLP" do %>
						<%= image_tag "https://globalmedia-gm.s3-us-west-1.amazonaws.com/2021-01-25/ERIKA+PODCAST-02.jpg" %>
					<% end %>
          <%= link_to "/stations/As%C3%ADlascosasWFMVallarta" do %>
            <%= image_tag "https://globalmedia-gm.s3-us-west-1.amazonaws.com/21-04-2021/BOTON+WEB.jpg" %>
          <% end %>
          <%= link_to "/stations/ImagenInformativaconJonathanFlores" do %>
            <%= image_tag "https://globalmedia-gm.s3-us-west-1.amazonaws.com/2021-01-25/PODCAST+BOTON.jpg" %>
          <% end %>
					</div>
			</div>
		</div>
	</div>

	<%= link_to get_local_section.name,  "/sections/" + get_local_section.slug, class: "navbar__link" %>
	<%= link_to "Regional", "/sections/bajio", class: "navbar__link" %>
	<%= link_to "México", "/sections/MÉXICO", class: "navbar__link" %>
	<%= link_to "Mundo", "/sections/MUNDO", class: "navbar__link" %>
	<%= link_to "Negocios", "/sections/Negocios", class: "navbar__link" %>
	<%= link_to "Táctica", tactica_path, class: "navbar__link" %>
	<%= link_to "Tecnología", "/sections/TECNOLOGIA", class: "navbar__link" %>
	<%= link_to "Colaboradores", collaborators_path, class: "navbar__link" %>
  <div class="dropdown">
    <a href="#" class="navbar__link"><i class="fas fa-chevron-down"></i></a>
    <div class="dropdown__options" style="width: 150px; left: -111px">
      <%= link_to "VIRALES", "/sections/ENTRETENIMIENTO", class: "navbar__link" %>
      <%= link_to "TOKIO2020", "/sections/TOKIO-2020", class: "navbar__link" %>
    </div>
  </div>
</div>