<div class="navbar">
	<%= link_to root_path, class: "navbar__link" do %>
		<%= image_tag "home.svg" %>		
	<% end %>
	<%= link_to "Radio y TV", root_path, class: "navbar__link" %>
	<% if Section.find_by(name: "San Luis") %>
		<%= link_to "San Luis", section_path(Section.find_by(name: "San Luis")), class: "navbar__link" %>
	<% end %>
	<% if Section.find_by(name: "Seguridad") %>
		<%= link_to "Seguridad", section_path(Section.find_by(name: "Seguridad")), class: "navbar__link" %>
	<% end %>
	<% if Section.find_by(name: "Nacional") %>
		<%= link_to "Nacional", section_path(Section.find_by(name: "Nacional")), class: "navbar__link" %>
	<% end %>
	<% if Section.find_by(name: "Negocios") %>		
		<%= link_to "Negocios", section_path(Section.find_by(name: "Negocios")), class: "navbar__link" %>
	<% end %>
	<% if Section.find_by(name: "Táctica") %>
		<%= link_to "Táctica", section_path(Section.find_by(name: "Táctica")), class: "navbar__link" %>
	<% end %>
	<%= link_to "Colaboradores", root_path, class: "navbar__link" %>
	<%= link_to "Acerca de", root_path, class: "navbar__link" %>
</div>