<div class="navbar">
	<%= link_to root_path, class: "navbar__link" do %>
		<%= image_tag "home.svg" %>
	<% end %>
	<div class="dropdown">
		<%= link_to "Radio en vivo", stations_path, class: "navbar__link" %>
		<div class="dropdown__options dropdown__radio">
			<div class="dropdown__row radio-row">
				<div class="dropdown__col">
					<p class="dropdown__section radio-title">Radio</p>
					<div class="line"></div>
					<%= link_to "https://www.globalmedia.mx/stations/Los40", target:"_blank" do %>
						<%= image_tag "programs/los 40.jpg" %>
					<% end %>
					<%= link_to "https://www.globalmedia.mx/stations/VOX969", target:"_blank" do %>
						<%= image_tag "programs/vox.png" %>
					<% end %>
					<%= link_to "https://www.globalmedia.mx/stations/WRadio", target:"_blank" do %>
						<%= image_tag "/assets/programs/WRadio.png" %>
					<% end %>
					<%= link_to "https://www.globalmedia.mx/stations/KeBuena", target:"_blank" do %>
						<%= image_tag "programs/ke buena.jpg" %>
					<% end %>
					<%= link_to "https://www.globalmedia.mx/stations/ImagenRadio", target:"_blank" do %>
						<%= image_tag "programs/imagen.png" %>
					<% end %>
					<%= link_to "https://www.globalmedia.mx/stations/Trión", target:"_blank" do %>
						<%= image_tag "https://globalmediarocks.s3-us-west-1.amazonaws.com/banners/TRION+LOGO.png" %>
					<% end %>
          <%= link_to "https://www.globalmedia.mx/stations/KeBuenaVallarta", target:"_blank" do %>
            <img src="https://globalmediarocks.s3-us-west-1.amazonaws.com/uploads/a6cc0b0d-5c0d-4865-b5bc-8c0c41bc5019/LOGO%20VALLARTA.png" alt="Ke buena vallarta">
          <% end %>
				</div>
			</div>
		</div>
	</div>

	<div class="dropdown">
		<%= link_to "Podcast", stations_path, class: "navbar__link" %>
		<div class="dropdown__options dropdown__radio">
			<div class="dropdown__row radio-row">
				<div class="dropdown__col">
					<p class="dropdown__section radio-title">Ke Buena</p>
					<div class="line"></div>
					<%= link_to "https://www.globalmedia.mx/stations/loshijosdelamanana" do %>
						<%= image_tag "https://globalmedia-gm.s3-us-west-1.amazonaws.com/2021-01-25/PODCAST_NUEVOS_1.png" %>
					<% end %>
					<%= link_to "https://www.globalmedia.mx/stations/kebuenrollo" do %>
						<%= image_tag "https://globalmedia-gm.s3-us-west-1.amazonaws.com/2021-01-25/PODCAST_NUEVOS_2.png" %>
					<% end %>
					<%= link_to "https://www.globalmedia.mx/stations/lasllegadoras" do %>
						<%= image_tag "https://globalmedia-gm.s3-us-west-1.amazonaws.com/2021-01-25/PODCAST_NUEVOS_3.png" %>
					<% end %>
				</div>
			</div>

			<div class="dropdown__row radio-row">
				<div class="dropdown__col">
					<p class="dropdown__section radio-title">Los 40 </p>
					<div class="line"></div>
					<%= link_to "https://www.globalmedia.mx/stations/lacorneta" do %>
						<%= image_tag "https://globalmedia-gm.s3-us-west-1.amazonaws.com/2021-01-25/PODCAST_NUEVOS_4.png" %>
					<% end %>
					<%= link_to "https://www.globalmedia.mx/stations/los40trendy" do %>
						<%= image_tag "https://globalmedia-gm.s3-us-west-1.amazonaws.com/2021-01-25/PODCAST_NUEVOS_5.png" %>
					<% end %>
					<%= link_to "https://www.globalmedia.mx/stations/los40nocover" do %>
						<%= image_tag "https://globalmedia-gm.s3-us-west-1.amazonaws.com/2021-01-25/PODCAST_NUEVOS_6.png" %>
					<% end %>
				</div>
			</div>

			<div class="dropdown__row radio-row">
				<div class="dropdown__col">
					<p class="dropdown__section radio-title">Imagen Radio</p>
					<div class="line"></div>
					<%= link_to "https://www.globalmedia.mx/stations/CUENTOCONTIGO" do %>
						<%= image_tag "https://globalmediarocks.s3-us-west-1.amazonaws.com/banners/LOGO+CUENTA+CONMIGO_Mesa+de+trabajo+1.png" %>
					<% end %>
          <%= link_to "https://www.globalmedia.mx/stations/IMAGENINFORMATIVA" do %>
            <%= image_tag "https://globalmedia-gm.s3-us-west-1.amazonaws.com/2021-01-25/PODCAST+BOTON.jpg" %>
          <% end %>
				</div>
			</div>

			<div class="dropdown__row radio-row">
				<div class="dropdown__col">
					<p class="dropdown__section radio-title">Noticieros</p>
					<div class="line"></div>
					<%= link_to "https://www.globalmedia.mx/stations/As%C3%ADlascosasSLP" do %>
						<%= image_tag "https://globalmedia-gm.s3-us-west-1.amazonaws.com/2021-01-25/ERIKA+PODCAST-02.jpg" %>
					<% end %>
					<%= link_to "https://www.globalmedia.mx/stations/CiroG%C3%B3mezLeyvaporlamanana" do %>
						<%= image_tag "https://globalmedia-gm.s3-us-west-1.amazonaws.com/2021-01-25/CIRO_PODCATS_9.png" %>
					<% end %>
					<%= link_to "https://www.globalmedia.mx/stations/As%C3%ADlascosasGabrielaWarkentinyJavierRisco" do %>
						<%= image_tag "https://globalmedia-gm.s3-us-west-1.amazonaws.com/2021-01-25/PODCAST_NUEVOS_7.png" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>

	<%= link_to "San Luis",  "https://www.globalmedia.mx/sections/San-Luis", class: "navbar__link" %>
	<%= link_to "México", "https://www.globalmedia.mx/sections/MÉXICO", class: "navbar__link" %>
	<%= link_to "Mundo", "https://www.globalmedia.mx/sections/MUNDO", class: "navbar__link" %>
	<%= link_to "Negocios", "https://www.globalmedia.mx/sections/Negocios", class: "navbar__link" %>
	<%= link_to "Táctica", tactica_path, class: "navbar__link" %>
	<%= link_to "Tecnología", "https://www.globalmedia.mx/sections/TECNOLOGIA", class: "navbar__link" %>
	<%= link_to "Colaboradores", collaborators_path, class: "navbar__link" %>
	<%= link_to "Entretenimiento", "https://www.globalmedia.mx/sections/ENTRETENIMIENTO", class: "navbar__link" %>
</div>