<div class="navbar">
	<%= link_to root_path, class: "navbar__link" do %>
		<%= image_tag "home.svg" %>		
	<% end %>
	<div class="dropdown">
		<%= link_to "Radio y TV", stations_path, class: "navbar__link" %>
		<div class="dropdown__options dropdown__radio">
			<p class="dropdown__section">estaciones de radio</p>
			<hr class="line">
			<% get_radio_stations.each do |radio| %>
				<%= link_to ("/" + radio.slug), target: "_blank"  do %>
					<p class="dropdown__link">
						<%= image_tag radio.image %>	
					</p>
					<div class="dropdown__underline"></div>
				<% end %>			
			<% end %>	
			<div class="dropdown__row">
				<div class="dropdown__col">
					<p class="dropdown__section">Canal de Televisión</p>
					<hr class="line">
					<div class="dropdown__row">
						
						<% get_video_stations.each do |video| %>
							<%= link_to ("/" + video.slug), target: "_blank" do %>
								<p class="dropdown__link">
									<%= image_tag video.image %>	
									
								</p>
								<div class="dropdown__underline"></div>
							<% end %>			
						<% end %>
					</div>
				</div>
				<div class="dropdown__col">
					
					<p class="dropdown__section">Noticieros</p>
					<hr class="line">
					<div class="dropdown__row">
						
						<% get_news_stations.each do |news| %>
							<%= link_to ("/" + news.slug), target: "_blank" do %>
								<p class="dropdown__link">
									<%= image_tag news.image %>
								</p>
								<div class="dropdown__underline"></div>
							<% end %>	
						<% end %>
					</div>
				</div>
			</div>
			<div class="dropdown__row radio-row">
				<div class="dropdown__col">
					<div class="line"></div>
					<%= image_tag "programs/imagen.png" %>		
					<%= image_tag "programs/rmx.png" %>		
					
					<%= image_tag "programs/BANNER IMAGEN 1.png" %>		
					<%= image_tag "programs/BANNER RMX.PNG" %>		
					<%= image_tag "programs/BANNER IMAGEN 2.png" %>		
				</div>
				<div class="dropdown__col">
					<div class="line"></div>
					<%= image_tag "programs/trion.png" %>		
					<%= image_tag "programs/BANNER TRION 1.png" %>		
					<%= image_tag "programs/BANNER TRION 2.png" %>		
					<%= image_tag "programs/BANNER TRION 3.png" %>		
					<%= image_tag "programs/BANNER TRION 4.png" %>		
					
				</div>
				<div class="dropdown__col">
					<div class="line"></div>
					<%= image_tag "programs/wfm.png" %>		
					<%= image_tag "programs/BANNER WFM 1.png" %>		
					<%= image_tag "programs/BANNER WFM 2.png" %>		
					<%= image_tag "programs/BANNER WFM 3.png" %>		
					
				</div>
			</div>
		</div>
	</div>
	<% if Section.find_by(name: "San Luis") %>
		<%= link_to "San Luis", section_path(Section.find_by(name: "San Luis")), class: "navbar__link" %>
	<% end %>
	<% if Section.find_by(name: "México") %>
		<%= link_to "México", section_path(Section.find_by(name: "México")), class: "navbar__link" %>
	<% end %>
	<% if Section.find_by(name: "Mundo") %>
		<%= link_to "Mundo", section_path(Section.find_by(name: "Mundo")), class: "navbar__link" %>
	<% end %>
	<% if Section.find_by(name: "Negocios") %>		
		<%= link_to "Negocios", section_path(Section.find_by(name: "Negocios")), class: "navbar__link" %>
	<% end %>
	<%= link_to "Táctica", tactica_path, class: "navbar__link" %>
	<% if Section.find_by(name: "Tecnología") %>		
		<%= link_to "Tecnología", section_path(Section.find_by(name: "Tecnología")), class: "navbar__link" %>
	<% end %>

	<%= link_to "Colaboradores", collaborators_path, class: "navbar__link" %>

	<% if Section.find_by(name: "Entretenimiento") %>		
		<%= link_to "Entretenimiento", section_path(Section.find_by(name: "Entretenimiento")), class: "navbar__link" %>
	<% end %></div>