<div class="navbar">
	<%= link_to root_path, class: "navbar__link" do %>
		<%= image_tag "home.svg" %>		
	<% end %>
	<div class="dropdown">
		<%= link_to "Radio y TV", stations_path, class: "navbar__link" %>
		<div class="dropdown__options dropdown__radio">
			<div class="dropdown__row radio-row">
				<div class="dropdown__col">
					<p class="dropdown__section radio-title">Juvenil</p>
					<div class="line"></div>
						<%= link_to root_path + "/stations/Los40" do %>
							<%= image_tag "programs/los 40.jpg" %>		
						<% end %>
						<%= link_to root_path + "/stations/RMX" do %>
							<%= image_tag "programs/rmx.png" %>		
						<% end %>
				</div>
				<div class="dropdown__col">
					<p class="dropdown__section radio-title">Contemporáneo</p>
					<div class="line"></div>
					
						<%= link_to root_path + "/stations/WFM" do %>
							<%= image_tag "programs/wfm.png" %>		
						<% end %>
					
				</div>
				<div class="dropdown__col">
					<p class="dropdown__section radio-title">Regional</p>
					<div class="line"></div>
					
						<%= link_to root_path + "/stations/KeBuena" do %>
							<%= image_tag "programs/ke buena.jpg" %>		
						<% end %>
						
				</div>
			</div>
			<div class="dropdown__row radio-row">
				<div class="dropdown__col">
					<p class="dropdown__section radio-title">Informativa</p>
					<div class="line"></div>
						<%= link_to root_path + "/stations/ImagenRadio" do %>
							<%= image_tag "programs/imagen.png" %>		
						<% end %>
						<%= link_to root_path + "/stations/Trión" do %>
							<%= image_tag "programs/trion.png" %>		
						<% end %>
				</div>
				<div class="dropdown__col">
					<p class="dropdown__section radio-title">TV</p>
					<div class="line"></div>
						<%= link_to  root_path + "/stations/VIVECANAL" do %>
							<%= image_tag "programs/vivecanal.png" %>		
						<% end %>
				</div>
			</div>
			<div class="dropdown__row radio-row">
				<div class="dropdown__col">
					<p class="dropdown__section radio-title">Noticieros</p>
					<div class="line"></div>
						<%= link_to root_path + "/stations/Trión" do %>
							<%= image_tag "programs/trion.png" %>		
						<% end %>
						<%= link_to root_path + "/stations/RMX" do %>
							<%= image_tag "programs/rmx.png" %>		
						<% end %>
						<%= link_to root_path + "/stations/ImagenRadio" do %>
							<%= image_tag "programs/imagen.png" %>		
						<% end %>
						<%= link_to root_path + "/stations/WFM" do %>
							<%= image_tag "programs/wfm.png" %>		
						<% end %>
						<%= link_to root_path + "/stations/NOTICIASDELANOCHECONHECTORTREJO" do %>
							<%= image_tag "programs/BANNER-TRION-4.jpg" %>		
						<% end %>
						<%= link_to root_path + "/stations/ERIKASALGADOENWFM" do %>
							<%= image_tag "programs/BANNER-WFM-1.png" %>		
						<% end %>
						<%= link_to root_path + "/stations/IMAGENINFORMATIVACONEVAMARÍACAMACHOM" do %>
							<%= image_tag "programs/BANNER-IMAGEN-2.png" %>		
						<% end %>


				</div>
				
			</div>
		</div>
	</div>
		<%= link_to "San Luis", section_path(root_path + "/sections/San-Luis"), class: "navbar__link" %>
		<%= link_to "México", section_path(root_path + "/sections/MÉXICO"), class: "navbar__link" %>
		<%= link_to "Mundo", section_path(root_path + "/sections/MUNDO"), class: "navbar__link" %>
		<%= link_to "Negocios", section_path(root_path + "/sections/Negocios"), class: "navbar__link" %>
		<%= link_to "Táctica", tactica_path, class: "navbar__link" %>
		<%= link_to "Tecnología", section_path(root_path + "/sections/TECNOLOGIA"), class: "navbar__link" %>

		<%= link_to "Colaboradores", collaborators_path, class: "navbar__link" %>

		<%= link_to "Entretenimiento", section_path(root_path + "/sections/ENTRETENIMIENTO"), class: "navbar__link" %>
	</div>