<div class="principal-highlight">
	<img src="<%= article.image %>" alt="" class="principal-highlight__image">
	<div class="pincipal-highlight__info">
		<h4 class="title"><%= article.name %></h4>	
		<p><%= article.short_description %></p> 	
		
		<div class="social-media-links">
			<%= link_to ("whatsapp://send?text=" + article_url(article)), class: "social-media__link", target: "_blank" do %>
				<%= image_tag "whatsapp.svg" %>
			<% end %>
			<%= link_to ("https://www.facebook.com/sharer/sharer.php?u=" + article_url(article)).encode, class: "social-media__link", target: "blank" do %>
				<%= image_tag "facebook.svg" %>
			<% end %>
		</div>
	</div>
</div>