<div class="radio-banner__tune-in no-border">
  <div class="led"></div>Sintoniza ahora
</div>

<div class="radio-banner">
  <% get_current_programs.each do |program| %>
    <div class="radio-program">
      <div class="radio-program-parent">
        <%= link_to (controller_name == "stations" && action_name == "show") ? "/#{program.station.slug}" : "/#{program.station.slug}", 
                   target: (controller_name == "stations" && action_name == "show") ? "_top" : "_blank" do %>
          <%= image_tag program.image %>
        <% end %>
      </div>
      
      <%# MOSTRAMOS TODOS LOS HIJOS MENOS LOS40QUERETARO %>
      <% get_children_programs(program.station.id).each do |program_child| %>
        <% unless program_child.station.slug == "los40queretaro" %>
          <div class="radio-program-children">
            <%= link_to "/#{program_child.station.slug}", target: "_top" do %>
              <%= image_tag program_child.image %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <%# AGREGAMOS MANUALMENTE Wradio CON LOS40QUERETARO COMO HIJO EXTRA %>
  <% wradio = Station.find_by(slug: "wradio") %>
  <% los40_queretaro = Station.find_by(slug: "los40queretaro") %>
  
  <% if wradio && los40_queretaro %>
    <div class="radio-program">
      <div class="radio-program-parent">
        <%= link_to "/#{wradio.slug}", target: "_blank" do %>
          <%= image_tag wradio.image %>
        <% end %>
      </div>
      
      <%# Hijos originales de Wradio %>
      <% get_children_programs(wradio.id).each do |wradio_child| %>
        <div class="radio-program-children">
          <%= link_to "/#{wradio_child.station.slug}", target: "_top" do %>
            <%= image_tag wradio_child.image %>
          <% end %>
        </div>
      <% end %>
      
      <%# Añadimos a LOS40QUERETARO como hijo extra %>
      <div class="radio-program-children">
        <%= link_to "/#{los40_queretaro.slug}", target: "_top" do %>
          <%= image_tag los40_queretaro.image %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<style>
  .radio-banner {
    margin-bottom: 0.8rem;
    z-index: 9;
  }
  .radio-program {
    display: block;
    flex-direction: column;
  }
  .radio-program .radio-program-parent a img {
    width: 100%;
  }
  .radio-program .radio-program-children {
    display: none;
  }
  .radio-program:hover .radio-program-children {
    display: block;
  }
</style>

<script>
  function led_timeline(){
    var led = $(".led");
    var led_tl = new TimelineMax({ repeat: -1 });
    led_tl.add(TweenMax.set(led, { opacity: 0, delay: .8 }));
    led_tl.add(TweenMax.set(led, { opacity: 1, delay: .8 }));
  }
  led_timeline(); 
</script>