<div class="section-recommendations">

	<%= link_to section_path(articles.first.section), class: "skewed-title" do %>
		<div class="skews">
			<div class="skew skew--gray"></div>
			<div class="skew skew--blue"></div>
			<div class="skew skew--black"></div>
		</div>
		<div class="sk__title" style="background-color: <%= articles.first.section_color %>"><%= section_name %></div>
		<div class="sk__link" style="background-color: <%= articles.first.section_color %>">Ir a sección</div>
	<% end %>
	<% articles.each do |article| %>
		<div class="section-recommendations__article ui-card">
			<%= link_to article, class: "wrapper-link" do %>
				<%= image_tag article.image, class: "section-recommendations__image" %>
				<% if article.exclusive? %>
					<p class="exclusive">EXCLUSIVA</p>
				<% end %>
				<h4 class="small-title"><%= article.name %></h4>
			<% end %>
			<%= render "components/social-media-links", article: article %>
		</div>
	<% end %>
</div>