<div class="sidebar">
	<%= render "components/latest-news", articles: latest_news %>
	<% if article != "global" %>
		<%= render "components/recommendations", articles: get_recommendations_per_section(Section.find_by_name(article.section).id) %>
	<% else %>
		<%= render "components/recommendations", articles: get_global_recommendations %>
	<% end %>
	<%= render "components/most-visited", hits: most_visited %>
	<% if banner and banner != "" and banner != nil %>
		<%= render "components/medium-banner", banner: banner %>
	<% end %>
</div>
	