<% article ||=  "nuva.rocks" %>
<div class="social-media">
	<%= link_to article, class: "social-media__link" do %>
		<%= image_tag "facebook.svg" %>
	<% end %>
	<%= link_to article, class: "social-media__link" do %>
		<%= image_tag "twitter.svg" %>
	<% end %>
	<%= link_to article, class: "social-media__link" do %>
		<%= image_tag "whatsapp.svg" %>
	<% end %>
	<%= link_to article, class: "social-media__link" do %>
		<%= image_tag "share.svg" %>
	<% end %>
</div>