<% if type == "Investigaci贸n Especial" %>
	<div class="special-articles investigation">
<% else %>
	<div class="special-articles">
<% end %>

	<% if type == "#DENUNCIAGLOBAL" %>

		<%= link_to section_path(Section.find_by(name: "Denuncia Global")), class: "special-articles__type" do %>
			<p class="type">#DENUNCIAGLOBAL</p>
			<div class="link">Ir a secci贸n</div>		
		<% end %>
		<h4 class="special-articles__title" data-link="<%= section_path(Section.find_by(name: "Denuncia Global")) %>"><%= articles.first.name %></h4>
	<% else %>
		
		<%= link_to relationship_path(Relationship.where(relationship_type: "Investigation").last), class: "special-articles__type" do %>
			<p class="type">Investigaci贸n Especial</p>
			<div class="link">Ir a secci贸n</div>

		<% end %>
		<h4 class="special-articles__title" data-link="<%= relationship_path(Relationship.where(relationship_type: "Investigation").last) %>"><%= title %></h4>
		
	<% end %>


	<% if articles.first.video_url == "" %>
		<% if title != "Denuncia Global" %>
			<iframe src="https://www.youtube.com/embed/tY1sVM1nfrY?list=PLdsuxs51rfhAAmwdXo9AoUdUs-Q1Ju8Uf" frameborder="0" allowfullscreen width="100%" height="280px"></iframe>	
			
		<% else %>
			<%= image_tag Article.where("articable_id = 12").last.image, class: "special-articles__image", data: { link: relationship_path(Relationship.where(relationship_type: "Investigation").last) } %>
		<% end %>
	<% else %>
		<% if type == "#DENUNCIAGLOBAL" %>
			<iframe src="https://www.youtube.com/embed/tY1sVM1nfrY?list=PLdsuxs51rfhAAmwdXo9AoUdUs-Q1Ju8Uf" frameborder="0" allowfullscreen width="100%" height="280px"></iframe>	
		<% else %>
			<iframe src="<%= articles.first.video_url %>" frameborder="0" allowfullscreen width="100%" height="280px"></iframe>	
		<% end %>
	<% end %>
	<%= link_to articles[0].name, articles[0], class: "special-articles__article" %>
	<% articles[1..-1].each do |article| %>
		<%= link_to article.name, article, class: "special-articles__article" %>
	<% end %>
</div>
