<% if type == "Investigación Especial" %>
	<div class="special-articles investigation">
<% else %>
	<div class="special-articles">
<% end %>
	<div class="special-articles__type">
		<p class="type"><%= type %></p>

		
		<% if type == "#DENUNCIAGLOBAL" %>
			<%= link_to "Ver denuncia", section_path(Section.find_by(name: "Denuncia Global")), class: "link" %>
		<% else %>
			
			<%= link_to "Ver investigación", relationship_path(Relationship.where(relationship_type: "Investigation").last), class: "link" %>
			
		<% end %>
	</div>
	<h4 class="special-articles__title"><%= title %></h4>
	<% if articles.first.video_url == "" %>

		<%= image_tag articles.first.image, class: "special-articles__image" %>
	<% else %>
		<iframe class="special-articles__image" src="<%= articles.first.video_url %>" frameborder="0" allowfullscreen></iframe>	
	<% end %>
	<%= link_to articles[0].name, articles[0], class: "special-articles__article" %>
	<% articles[1..-1].each do |article| %>
		<%= link_to article.name, article, class: "special-articles__article" %>
	<% end %>
</div>
