<div class="special-articles">
	<div class="special-articles__type">
		<p class="type"><%= type %></p>
		<% if articles[0].article_relationships[0].articable.relationship_type == "Investigation" %>
			<%= link_to "Ver investigación", relationship_path(Relationship.where(relationship_type: "Investigation").last), class: "link" %>
		<% end %>
		<% if articles[0].article_relationships[0].articable.relationship_type == "Complaint" %>
			<%= link_to "Ver denuncia", relationship_path(Relationship.where(relationship_type: "Complaint").last), class: "link" %>
		<% end %>
	</div>
	<h4 class="special-articles__title"><%= title %></h4>
	<%= image_tag articles.first.image, class: "special-articles__image" %>
	<%= link_to articles[0].name, articles[0], class: "special-articles__article" %>
	<% articles[1..-1].each do |article| %>
		<%= link_to article.name, article, class: "special-articles__article" %>
	<% end %>
</div>
