<div class="special-articles">
	<div class="special-articles__type">
		<p class="type"><%= type %></p>
		<p class="link">Ir a sección</p>
	</div>
	<h4 class="special-articles__title"><%= title %></h4>
	<%= image_tag articles.first.image, class: "special-articles__image" %>
	<%= link_to articles[0].name, articles[0], class: "special-articles__article" %>
	<% articles[1..-1].each do |article| %>
		<%= link_to article.name, article, class: "special-articles__article" %>
	<% end %>
</div>
