<div class="stations-floating-bar">
<div class="radio-banner__tune-in no-border"><div class="led"></div>Sintoniza en <br>este momento</div>
	<%= controller.controller_name %>
	<%= controller.action_name %>
	<% get_current_programs.each do |program| %>

		<% if controller.controller_name == "stations" && controller.action_name == "show" %>
			<%= link_to ("/" + program.station.slug), class: "station-link" do %>
				<%= image_tag program.image %>
			<% end %>
		<% else %>
			<%= link_to ("/" + program.station.slug), class: "station-link", target: "_blank" do %>
				<%= image_tag program.image %>
			<% end %>
		<% end %>
	<% end %>
</div>