
	<div class="topbar">
		<%= link_to root_path, class: "logo-container" do %>
			<%= image_tag "logo-black.svg" %>
		<% end %>
		<%= link_to root_path, class: "home-container" do %>
			<%= image_tag "home.svg" %>
		<% end %>
		<% if false %>
			
			<%= link_to "denuncia global", section_path("Denuncia-Global"), class: "topbar__link" %>
			<a href="" class="topbar__link popup" onmouseover="popup(this)" onmouseout="popupout(this)">
				tráfico san luis
				<span class="popuptext" id="myPopup">Próximamente</span>
			</a>
		<% end %>
    <div class="d-none d-md-block">
      <change-location></change-location>
    </div>
<% cache("topbar", expires_in: 1.year)do %>
		<div class="social-media">
			<p class="social-media__tag">Síguenos</p>
			<%= link_to "https://twitter.com/globalmediamx", class: "social-media__link", target: "_blank" do %>
				<%= image_tag "twitter.svg" %>
			<% end %>
			<%= link_to "https://www.facebook.com/GlobalMediaSLP/?fref=ts", class: "social-media__link", target: "_blank" do %>
				<%= image_tag "facebook.svg" %>
			<% end %>
		</div>
<% end %>
		<div class="search">
			 <% if !request.original_url.include? "users/password" and !request.original_url.include? "users/sign_in"%>
				<%= form_for :article, url: {controller: "titlepage", action: 'search_article'}  do |f|%>
		          <% f.autocomplete_field(:articable_id, autocomplete_article_name_path, :id_element => '#article_id', class: "search__box", placeholder: "Búsqueda", type: "search", value: "" ) %>
		          <%= f.text_field :articable_id, class: "search__box", placeholder: "Búsqueda", type: "search", value: ""  %>
					<%= image_tag "search.svg", class: "search__image" %>
			          <%= hidden_field_tag :article_id, :id => "article_id" %>
		       		<%= image_tag "search.svg", class: "search__image" %>
		        <% end %>
	        <% end %>
			
		</div>
	</div>
