<div class="topbar">
	<%= link_to "global media", root_path, class: "topbar__link" %>
	<%= link_to "invesitgación especial", root_path, class: "topbar__link" %>
	<%= link_to "denuncia global", root_path, class: "topbar__link" %>
	<%= link_to "tráfico san luis", root_path, class: "topbar__link" %>

	<div class="social-media">
		<%= link_to root_path, class: "social-media__link" do %>
			<%= image_tag "twitter.svg" %>
		<% end %>
		<%= link_to root_path, class: "social-media__link" do %>
			<%= image_tag "qewr.svg" %>
		<% end %>

	</div>
</div>