
<div class="interface--row">
	<div class="main-content station">
		<div class="station__header">
			<%= image_tag @station.image, class: "station__image" %>
			<div class="header__info">
				<h4 class="station__name"><%= @station.name %></h4>
				<p class="station__description"><%= @station.description %></p>
				<div class="social-media" data-article="<%= station_url(@station) %>">
					<%= link_to ("whatsapp://send?text=" + station_url(@station)), class: "social-media__link whatsapp", target: "_blank" do %>
						<%= image_tag "whatsapp.svg" %>
					<% end %>
					<a class="social-media__link facebook" target="_blank" onclick="shareToFacebook(event);">
						<%= image_tag "facebook.svg" %>				
					</a>	
					<a target="_blank" href="https://twitter.com/home?status=<%= truncate(@station.name, length: 80) %>%20%2D%20<%= url_encode(station_url(@station)) %>" class="social-media__link twitter">
						<%= image_tag "twitter.svg" %>
					</a>
					<a class="social-media__link copy" target="_self">	
						<input class="hidden" value="<%= station_url(@station) %>">
						<%= image_tag "copy.svg" %>
					</a>
				</div>

			</div>
		</div>
		<% if !@station.video? and !@station.news? %>
			<audio controls autoplay id="audio" controlsList="nodownload">
				<source src="<%= @station.stream_url %>" type="audio/mpeg">	
			</audio>
		<% else %>	
			<script src="https://vjs.zencdn.net/5.11/video.min.js"></script>
			<script src="https://unpkg.com/videojs-contrib-hls/dist/videojs-contrib-hls.js"></script>
			<video id="stream" class="video-js vjs-default-skin" controls preload="auto" width="650" height="308" 
			data-setup='{}' autoplay>
				<source src="<%= @station.stream_url %>" type='application/x-mpegURL'>
			</video>

			<script>
				player = videojs('stream');
			</script>

		<% end %>		
		<div class="station__info">				
			<div class="station__programs">
				<% @timetables.each_with_index do |timetable, index| %>
					<% if index == 0 and @station.video == false %>
						<p class="program__current-indicator">Suena Ahora:</p>
					<% elsif index == 0 and @station.video == true %>
						<p class="program__current-indicator">Programa actual:</p>
					<% end %>
					<div class="program">
						
						<p class="program__hour"><%= timetable.streaming_hour.strftime('%H:%M') %></p>	 
						<p class="program__name"><%= timetable.name %></p>		 
					</div>
				<% end %>		
			</div>
			<div class="program__info">
				
				<% if @timetables.first %>

					<%= image_tag @timetables.first.broadcaster_image, class: "station__broadcaster-image" %>
					<p><%= @timetables.first.description %></p>
					<p class="radio-banner__tune-in">Con:</p>
					<p><%= @timetables.first.broadcasters %></p>
				<% end %>
			</div>
		</div>
		<div class="radio-banner__tune-in">Nuestras Playlists</div>
		<div class="playlists">
			<% if @station.playlist_1 != "" %>
				<a target="_blank" href="<%= @station.playlist_1 %>" class="playlist">
					<%= image_tag @station.playlist_1_image %>
				</a>
			<% end %>
			<% if @station.playlist_2 != "" %>
				<a target="_blank" href="<%= @station.playlist_2 %>" class="playlist">
					<%= image_tag @station.playlist_2_image %>
				</a>
			<% end %>
			<% if @station.playlist_3 != "" %>
				<a target="_blank" href="<%= @station.playlist_3 %>" class="playlist">
					<%= image_tag @station.playlist_3_image %>
				</a>
			<% end %>
			<% if @station.playlist_4 != "" %>
				<a target="_blank" href="<%= @station.playlist_4 %>" class="playlist">
					<%= image_tag @station.playlist_4_image %>
				</a>
			<% end %>
		</div>
		<div class="radio-banner__tune-in">Estaciones recomendadas</div>
		<div class="station__recommendations">
			<% @recommendations.each do |recommendation| %>
				<%= link_to recommendation, class: "recommendation__image" do %>
					<%= image_tag recommendation.image %>
				<% end %>
			<% end %>
		</div>
		<div class="radio-banner__tune-in">Lo más reciente</div>



	<div class="note note--display">
		<div id="quill-container" class="quill--article">	
		</div>

	</div>

	<script>
		<% @station.article_relationships.last(1).each do |relationship| %>
			var content = <%= raw(relationship.article.note) %>;
			var container = document.getElementById("quill-container")
			display_quill_note(content, container);
		<% end %>
	</script>




	<%= image_url @station.image_preview, style: "display:  none; " %>

		<div class="radio-banner__tune-in">Histórico</div>

		<div class="station__articles">
			
			<% @station.article_relationships.offset(1).last(4).each do |relationship| %>
				<%= render "components/horizontal-note", article: relationship.article %>
			<% end %>
		</div>


	</div>
	<%= render "components/stations-sidebar", facebook: @station.facebook, twitter: @station.twitter %>

</div>
