<div class="interface--row">
	<div class="main-content station">
		<div class="station__header">
			<%= image_tag @station.image, class: "station__image" %>
			<h4 class="station__name"><%= @station.name %></h4>
		</div>
		<% if @station.video == false %>
			<audio controls autoplay>
				<source src="<%= @station.stream_url %>" type="audio/mpeg">	
			</audio>
		<% else %>	
			<video controls autoplay>
				<source src="<%= @station.stream_url %>">
			</video>	
			<script>
				var video = document.getElementsByTagName('video')[0];
				var player = new MediaElement(video);
			</script>
		<% end %>		
		<div class="station__info">				
			<div class="station__programs">
				<% @timetables.each_with_index do |timetable, index| %>
					<% if index == 0 and @station.video == false %>
						<p class="program__current-indicator">Suena Ahora:</p>
					<% elsif index == 0 and @station.video == true %>
						<p class="program__current-indicator">Programa actual:</p>
					<% end %>
					<div class="program">
						
						<p class="program__hour"><%= timetable.streaming_hour.strftime('%H:%M') %></p>	 
						<p class="program__name"><%= timetable.name %></p>		 
					</div>
				<% end %>		
			</div>
			<%= image_tag @timetables.first.broadcaster_image, class: "station__broadcaster-image" %>
		</div>

		<div class="station__recommendations">
			<% @recommendations.each do |recommendation| %>
				<%= link_to recommendation, class: "recommendation__image" do %>
					<%= image_tag recommendation.image %>
				<% end %>
			<% end %>
		</div>
	</div>
	<%= render "components/stations-sidebar", facebook: @station.facebook, twitter: @station.twitter %>
</div>