<h3>#ESNOTICIA</h3>
<% @its_news.each do |hashtag| %>
	| <%= hashtag.article.name %> | 
	
<% end %>
<br/>

<% @highlights.each do |highlight| %>
	Posición: <%= highlight.order %>
	Artículo: <%= link_to highlight.article.name, highlight.article %>
<% end %>
<br/>

<%= render "/layouts/al_momento", section: al_momento(true, false, false, 5) %>

<% @sections.each do |section| %>
	<% if get_section_highlight(section.id) %>
		<%= render "/layouts/articles", section: get_articles_per_section(section.id, 3), section_name: section.name, highlight: get_section_highlight(section.id) %>
	<% else %>
		<%= render "/layouts/articles", section: get_articles_per_section(section.id, 4), section_name: section.name, highlight: get_section_highlight(section.id) %>
	<% end %>
<% end %> 


<%= render "/layouts/recommendations", articles: get_global_recommendations %>

<h1>Banners</h1>
<% if get_banner("", "TitlePage", "Chico" ) %>
	Banner Chico: <%= get_banner("", "TitlePage", "Chico" ).name %>
	<br/>
<% else %>
	<% if get_banner("", "Global", "Chico" ) %>
		Banner Chico: <%= get_banner("", "Global", "Chico" ).name %>
	<% end %>
	<br/>
<% end %>

<% if get_banner("", "TitlePage", "Mediano" ) %>

	Banner Mediano: <%= get_banner("", "TitlePage", "Mediano" ).name  %><br/>
<% else %>
	<% if get_banner("", "Global", "Mediano" ) %>
		Banner Mediano: <%= get_banner("", "Global", "Mediano" ).name %>
	<% end %>
	<br/>
<% end %>

<% if get_banner("", "TitlePage", "Grande" ) %>

	Banner Grande: <%= get_banner("", "TitlePage", "Grande" ).name  %><br/>
<% else %>
	<% if get_banner("", "Global", "Grande" ) %>
		Banner Grande: <%= get_banner("", "Global", "Grande" ).name %>
	<% end %>
	<br/>
<% end %>


