<% if @breaking_news != nil %>
	<%= render "components/breaking-news" %>	
<% end %>
	<div class="highlights-container">	
		<% @highlights.each do |highlight| %>
			<% if highlight.order == 1 %>
				<%= render "components/principal-highlight", article: highlight.article %>
			<% else %>
				<%= render "components/secondary-highlight", article: highlight.article %>
			<% end %>
		<% end %>
	</div>

<% cache(get_banner("global", "TitlePage", "Grande")) do %>
	<% if get_banner("global", "TitlePage", "Grande") %>
		<%= render "components/big-banner", banner: get_banner("global", "TitlePage", "Grande") %>
	<% end %>
<% end %>
<% if true %>
<div class="special-articles-container">
	
	<div class="special-articles">
		<% if true %>
			<% cache(latest_news) do %>
				<%= render "components/latest-news", articles: latest_news  %>
			<% end %>
				<% if get_banner("", "TitlePage", "Chico" ).count > 0 %>
					<%= render "components/small-banner", banner: get_banner("", "TitlePage", "Chico" ) %>
				<% else %>
					<% if get_banner("", "Global", "Chico" ).count > 0 %>
						<%= render "components/small-banner", banner: get_banner("", "Global", "Chico" ) %>
					<% end %>
				<% end %>
		<% end %>

		
	</div>

	<% if true %>
		<% cache(get_collaborators) do %>
			<div class="special-articles--collaborators">
				<%= render "components/collaborators", articles: get_collaborators %>
			</div>
		<% end %>
	<% end %>
</div>
<div class="special-articles-container">
		<% cache(get_investigation_articles) do %>
			<% if get_investigation_articles.count > 0 %>
				<%= render "components/special-articles", type: "Investigación Especial", title: get_investigation_articles.last.article_relationships.last.articable.name, articles: get_investigation_articles %>
			<% end %>
		<% end %>
	<% cache(get_complaints) do %>
		<% if get_complaints %>
			<%= render "components/special-articles", type: "#DENUNCIAGLOBAL", title: "Denuncia Global", articles: get_complaints %>
		<% end %>
	<% end %>
</div>
<% end %>
<div class="section-previews-container">
	
	<!-- SAN LUIS -->
	<% cache(get_section_articles(1)) do %>
		<%= render "/layouts/section_preview", articles: get_section_articles(1), section: Section.find(1) %>
	<% end %>

	<!-- MÉXICO -->
	<% cache(get_section_articles(3)) do %>
		<%= render "/layouts/section_preview", articles: get_section_articles(3), section: Section.find(3) %>
	<% end %>

	<!-- MUNDO -->
	<% cache(get_section_articles(4)) do %>
		<%= render "/layouts/section_preview", articles: get_section_articles(4), section: Section.find(4) %>
	<% end %>

	<!-- Negocios -->
	<% cache(get_section_articles(7)) do %>
		<%= render "/layouts/section_preview", articles: get_section_articles(7), section: Section.find(7) %>
	<% end %>

	<!-- Tactica local -->
	<% cache(get_section_articles(1025)) do %>
		<%= render "/layouts/section_preview", articles: get_section_articles(1025), section: Section.find(1025) %>
	<% end %>

	<!-- Tecnologia -->
	<% cache(get_section_articles(1013)) do %>
		<%= render "/layouts/section_preview", articles: get_section_articles(1013), section: Section.find(1013) %>
	<% end %>

	<!-- Espectaculos -->
	<% cache(get_section_articles(5)) do %>
		<%= render "/layouts/section_preview", articles: get_section_articles(5), section: Section.find(5) %>
	<% end %>

	<!-- Tacnac e in -->
	<% cache(get_section_articles(1024)) do %>
		<%= render "/layouts/section_preview", articles: get_section_articles(1024), section: Section.find(1024) %>
	<% end %>

	<!-- Entretenimiento -->
	<% cache(get_section_articles(21)) do %>
		<%= render "/layouts/section_preview", articles: get_section_articles(21), section: Section.find(21) %>
	<% end %>
			
	


</div>
	<% if get_banner("", "TitlePage", "Grande" ).count > 0 %>
		<%= render "components/big-banner", banner: get_banner("", "TitlePage", "Grande" )  %>
	<% else %>
		<% if get_banner("", "Global", "Grande" ).count > 0 %>
			<%= render "components/big-banner", banner: get_banner("", "Global", "Grande" )  %>
		<% end %>
	<% end %>
