<h3>#ESNOTICIA</h3>
<% @its_news.each do |hashtag| %>
	| <%= hashtag.article.name %> | 
	
<% end %>
<br/>

<% @highlights.each do |highlight| %>
	Posición: <%= highlight.order %>
	Artículo: <%= link_to highlight.article.name, highlight.article %>
<% end %>
<br/>

<%= render "/layouts/al_momento", section: al_momento(true, false, false, 5) %>

<%= render "/layouts/articles", section: san_luis(4), section_name: "San Luis" %>

<%= render "/layouts/articles", section: seguridad(4), section_name: "Seguridad" %>

<%= render "/layouts/articles", section: nacional(4), section_name: "Nacional" %>

<%= render "/layouts/articles", section: internacional(4), section_name: "Internacional" %>

<%= render "/layouts/articles", section: farandula(4), section_name: "Farándula" %>

<%= render "/layouts/articles", section: tactica(4), section_name: "Táctica" %>

<%= render "/layouts/articles", section: negocios(4), section_name: "Negocios" %>

<%= render "/layouts/articles", section: estados(4), section_name: "Estados" %>

<%= render "/layouts/articles", section: actualidad(4), section_name: "Actualidad" %>




