<% if @breaking_news != nil %>
	<%= render "components/breaking-news" %>	
<% end %>
<div class="highlights-container">	
	<% @highlights.each do |highlight| %>
		<% if highlight.order == 1 %>
			<%= render "components/principal-highlight", article: highlight.article %>
		<% else %>
			<%= render "components/secondary-highlight", article: highlight.article %>
		<% end %>
	<% end %>
</div>
<!-- FALSE -->
<% if false %>
	
	<% if get_banner("", "TitlePage", "Grande" ).count > 0 %>
		<%= render "components/big-banner", banner: get_banner("", "TitlePage", "Grande" )  %>
	<% else %>
		<% if get_banner("", "Global", "Grande" ).count > 0 %>
			<%= render "components/big-banner", banner: get_banner("", "Global", "Grande" )  %>
		<% end %>
	<% end %>
<% end %>

<div class="section-previews-container">
	

	<% @sections.each do |section| %>
		<% if section.articles.count > 0 %>
			<% if get_section_highlight(section.id) %>
				<%= render "/layouts/section_preview", articles: get_articles_per_section(section.id, 3), section: section, highlight: get_section_highlight(section.id) %>
			<% else %>
				<%= render "/layouts/section_preview", articles: get_articles_per_section(section.id, 4), section: section, highlight: get_section_highlight(section.id) %>
			<% end %>
		<% end %>
	<% end %> 

</div>

