<% content_for :title, "Global Media - Noticias" %>
<!-- aqui comienza el banner -->

<!--<div id="polls-banner-container">-->
<!--  	<div class="enc-links polls-banner-closed" style="display: none;">-->
<!--  		<a href="https://sondeosglobalmedia.com.mx/globalmedia/" target="_blank">-->
<%#= image_tag "https://globalmediarocks.s3-us-west-1.amazonaws.com/banners/WhatsApp+Image+2020-02-28+at+6.58.43+PM.jpeg", class: "img-desktop" %>
<!--  		</a>-->
<!--  	</div>-->

<!--  <table class="polls-banner-opened"  width="100%" style="display: none;">-->
<!--    <tr>-->
<!--      <td width="100%">-->
<!--        <div class="enc-links">-->
<!--          <a href="https://sondeosglobalmedia.com.mx/globalmedia/">-->
<%#= image_tag "https://globalmediarocks.s3-us-west-1.amazonaws.com/BANNER_NOVIEMBRE.jpg", class: "img-desktop banner-new-polls" %>
<!--          </a>-->
<!--        </div>-->
<!--      </td>-->
<!--    </tr>-->
<!--  </table>-->
<!--</div>-->
<!-- cambio de solo el banner -->
<% if @banner_poll['is_open'] %>
  <div class="row">
    <div class="<%= @banner_poll['show_results']  ? 'col-9' : 'col-12' %>">
      <a id="link_poll" href="<%= @banner_poll['poll_url'] %>">
        <%= image_tag @banner_poll['image_url'], class: "img-desktop banner-new-polls" %>
      </a>
    </div>
    <!-- OJO AQUI ES PARA DIVIDIR EL BANNER DE LAS ENCUESTAS EM DOS - SE AGREGA URL DE UBI DE BANNER Y LINK -->
    <% if @banner_poll['show_results'] %>
      <div class="col-3 pl-0">
        <a href="https://www.globalmedia.mx/articles/AS%C3%8D-LAS-COSAS" target="_blank">
          <%= image_tag "https://globalmediarocks.s3.us-west-1.amazonaws.com/banners/L-V_+ERIKA_en_vivo.gif", class: "img-desktop" %>
        </a>
      </div>
    <% end %>
  </div>
<% end %>


<style>
    .enc-links {
        display:  flex;
        flex-direction:  row;
        align-items:  stretch;
        justify-content:  center;
        width:  100%;
    }
    .enc-links a {
        width:  100%;
    }
    .enc-links img {
        height:  auto;
        width:  100%;
        flex-shrink: 0;
    }
    @media screen and (max-width:  1024px) {
        .enc-links {
            flex-direction:  column;
        }
        .enc-links a {
            width:  100%;
            max-width:  400px;
            margin:  0 auto;
        }
    }
</style>

<style>
    .banner-wide {
        display: flex;
        width:  100%;
        height:  auto;
    }
    .banner-wide img {
        width:  100%;
        height:  auto;
        margin-bottom: 15px;
    }
    .banner-ww {
        width: 100%;
        height:  auto;
        /*display:  flex; */
    }
    .banner-ww img {
        width:  100%;
        height:  auto;
    }
</style>
<!-- <br>

<a href="/WFM" class="banner-ww">
	<img src="https://globalmediarocks.s3-us-west-1.amazonaws.com/banners/ban.jpg">
</a>
<br>
-->
<% cache @breaking_news do %>
  <% if @breaking_news.count > 0 %>
    <%= render "components/breaking-news" %>
  <% end %>
<% end %>

<div class="highlights-container">
  <% @highlights.each do |highlight| %>
    <% if highlight.order == 1 %>
      <%= render "components/principal-highlight", article: highlight.article %>
    <% else %>
      <%= render "components/secondary-highlight", article: highlight.article %>
    <% end %>
  <% end %>
</div>


<% cache(get_banner("global", "TitlePage", "Grande")) do %>
  <% if get_banner("global", "TitlePage", "Grande") %>
    <%= render "components/big-banner", banner: get_banner("global", "TitlePage", "Grande") %>
  <% end %>
<% end %>
<% if get_current_location.key == "san-luis" %>
  <div class="special-articles-container">
    <!-- OJO AQUI ES PARA agregar el video arriba de min a min -->
    <div class="special-articles d-flex" style="width: 100% !important;">
        <div class="w-100 mb-5">
           <p class="sp__name mb-3" style="background-color: #730E15">IMAGEN INFORMATIVA EN VIVO</p>
          <iframe width="470" height="400" src="https://www.youtube.com/embed/-bssuVIKnwo?autoplay=1&mute=1&enablejsapi=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      <!-- termina codiel video arriba de min a min -->
    <!--cuando se quiere desactivar el reproductor se agrega esta linea -->
      <!--<div class="special-articles">-->
          fin de linea -->
      <% cache(latest_news) do %>
        <%= render "components/latest-news", articles: latest_news  %>
      <% end %>
      <% if get_banner("", "TitlePage", "Chico" ).count > 0 %>
        <%= render "components/small-banner", banner: get_banner("", "TitlePage", "Chico" ) %>
      <% else %>
        <% if get_banner("", "Global", "Chico" ).count > 0 %>
          <%= render "components/small-banner", banner: get_banner("", "Global", "Chico" ) %>
        <% end %>
      <% end %>
    </div>
    <div class="special-articles--collaborators">
      <%= render "components/collaborators", articles: get_collaborators %>
    </div>
  </div>
<% else %>
  <div class="special-articles" style="width: 100% !important;">
    <% cache(latest_news) do %>
      <%= render "components/latest-news", articles: latest_news  %>
    <% end %>
    <% if get_banner("", "TitlePage", "Chico" ).count > 0 %>
      <%= render "components/small-banner", banner: get_banner("", "TitlePage", "Chico" ) %>
    <% else %>
      <% if get_banner("", "Global", "Chico" ).count > 0 %>
        <%= render "components/small-banner", banner: get_banner("", "Global", "Chico" ) %>
      <% end %>
    <% end %>
  </div>
<% end %>
<div class="section-previews-container">
  <% @sections.each do |section| %>
    <% cache(get_cover_articles(section.id)) do %>
      <%= render "/layouts/cover_section_preview", articles: get_cover_articles(section.id) %>
    <% end %>

  <% end %>



</div>
<% if get_banner("", "TitlePage", "Grande" ).count > 0 %>
  <%= render "components/big-banner", banner: get_banner("", "TitlePage", "Grande" )  %>
<% else %>
  <% if get_banner("", "Global", "Grande" ).count > 0 %>
    <%= render "components/big-banner", banner: get_banner("", "Global", "Grande" )  %>
  <% end %>
<% end %>
