<h3>#ESNOTICIA</h3>
<% @its_news.each do |hashtag| %>
	| <%= hashtag.article.name %> | 
	
<% end %>
<br/>

<% @highlights.each do |highlight| %>
	Posición: <%= highlight.order %>
	Artículo: <%= link_to highlight.article.name, highlight.article %>
<% end %>
<br/>

<%= render "/layouts/articles", section: @san_luis, section_name: "San Luis" %>

<%= render "/layouts/articles", section: @seguridad, section_name: "Seguridad" %>

<%= render "/layouts/articles", section: @nacional, section_name: "Nacional" %>

<%= render "/layouts/articles", section: @internacional, section_name: "Internacional" %>

<%= render "/layouts/articles", section: @farandula, section_name: "Farándula" %>

<%= render "/layouts/articles", section: @tactica, section_name: "Táctica" %>

<%= render "/layouts/articles", section: @negocios, section_name: "Negocios" %>

<%= render "/layouts/articles", section: @estados, section_name: "Estados" %>

<%= render "/layouts/articles", section: @actualidad, section_name: "Actualidad" %>




