<div class="highlights-container">	
	<% @highlights.each do |highlight| %>
		<% if highlight.order == 1 %>
			<%= render "components/principal-highlight", article: highlight.article %>
		<% else %>
			<%= render "components/secondary-highlight", article: highlight.article %>
		<% end %>
	<% end %>
</div>

<% if Banner.count > 0 %>
<%= render "components/big-banner", banner: get_banner("global", "TitlePage", "Grande") %>
<% end %>



<div class="special-articles-container">
	
	<%= render "components/special-articles", type: "Investigación Especial", title: @investigation_articles[0].article_relationships[0].relationship.name, articles: @investigation_articles %>
	<%= render "components/special-articles", type: "#DENUNCIAGLOBAL", title: @complaints[0].article_relationships[0].relationship.name, articles: @complaints %>

</div>
<div class="special-articles-container">
	<div class="special-articles">
		
		<%= render "components/latest-news", articles: al_momento(true, false, false, 5)  %>
	</div>
	<div class="special-articles">
		<%= render "components/collaborators", articles: @collaborator_articles %>
	</div>
</div>


<% @sections.each do |section| %>
	<% if get_section_highlight(section.id) %>
		<%= render "/layouts/section_preview", articles: get_articles_per_section(section.id, 3), section: section, highlight: get_section_highlight(section.id) %>
	<% else %>
		<%= render "/layouts/section_preview", articles: get_articles_per_section(section.id, 4), section: section, highlight: get_section_highlight(section.id) %>
	<% end %>
<% end %> 


<%= render "/layouts/recommendations", articles: get_global_recommendations %>

<h1>Banners</h1>
<% if get_banner("", "TitlePage", "Chico" ) %>
	Banner Chico: <%= get_banner("", "TitlePage", "Chico" ).name %>
	<% else %>
	<% if get_banner("", "Global", "Chico" ) %>
		Banner Chico: <%= get_banner("", "Global", "Chico" ).name %>
	<% end %>
	<% end %>

<% if get_banner("", "TitlePage", "Mediano" ) %>

	Banner Mediano: <%= get_banner("", "TitlePage", "Mediano" ).name  %><% else %>
	<% if get_banner("", "Global", "Mediano" ) %>
		Banner Mediano: <%= get_banner("", "Global", "Mediano" ).name %>
	<% end %>
	<% end %>

<% if get_banner("", "TitlePage", "Grande" ) %>

	Banner Grande: <%= get_banner("", "TitlePage", "Grande" ).name  %><% else %>
	<% if get_banner("", "Global", "Grande" ) %>
		Banner Grande: <%= get_banner("", "Global", "Grande" ).name %>
	<% end %>
<% end %>


