<% if @breaking_news != nil %>
	<%= render "components/breaking-news" %>	
<% end %>
<div class="highlights-container">	
	<% @highlights.each do |highlight| %>
		<% if highlight.order == 1 %>
			<%= render "components/principal-highlight", article: highlight.article %>
		<% else %>
			<%= render "components/secondary-highlight", article: highlight.article %>
		<% end %>
	<% end %>
</div>
<% if get_banner("", "TitlePage", "Grande" ) %>
	<%= render "components/big-banner", banner: get_banner("global", "TitlePage", "Grande") %>
<% end %>
<% if false %>
<div class="special-articles-container">
	<% if false %>
		<% if @investigation_articles.count > 0 %>
			<%= render "components/special-articles", type: "Investigación Especial", title: @investigation_name, articles: @investigation_articles.reverse %>
		<% end %>
	<% end %>
	<div class="special-articles">
		<% if false %>
			<%= render "components/latest-news", articles: latest_news  %>
		

			<% if get_banner("", "TitlePage", "Chico" ).count > 0 %>
				<%= render "components/small-banner", banner: get_banner("", "TitlePage", "Chico" ) %>
			<% else %>
				<% if get_banner("", "Global", "Chico" ).count > 0 %>
					<%= render "components/small-banner", banner: get_banner("", "Global", "Chico" ) %>
				<% end %>
			<% end %>
		<% end %>

		
	</div>

	<% if false %>
		<div class="special-articles--collaborators">
			<%= render "components/collaborators", articles: @collaborator_articles %>
		</div>
	<% end %>
</div>
<% end %>
<div class="special-articles-container">
	<% if false %>
		<%  if @investigation_articles.count > 0 %>
			<%= render "components/special-articles", type: "Investigación Especial", title: @investigation_name, articles: @investigation_articles.reverse %>
		<% end %>
	<% end %>
	<% if @complaints %>
		<%= render "components/special-articles", type: "#DENUNCIAGLOBAL", title: "Denuncia Global", articles: @complaints.reverse %>
	<% end %>
</div>

<div class="section-previews-container">
	

	<% @sections.each do |section| %>

		
		<% if section.articles.count > 0 %>
			<% if get_section_highlight(section.id) %>
				<%= render "/layouts/section_preview", articles: get_articles_per_section(section.id, 3), section: section, highlight: get_section_highlight(section.id) %>
			<% else %>
				<%= render "/layouts/section_preview", articles: get_articles_per_section(section.id, 4), section: section, highlight: get_section_highlight(section.id) %>
			<% end %>
		<% end %>
	<% end %> 

</div>

<% if get_banner("", "TitlePage", "Grande" ).count > 0 %>
	<%= render "components/big-banner", banner: get_banner("", "TitlePage", "Grande" )  %>
<% else %>
	<% if get_banner("", "Global", "Grande" ).count > 0 %>
		<%= render "components/big-banner", banner: get_banner("", "Global", "Grande" )  %>
	<% end %>
<% end %>