<% content_for :title, "Global Media - Noticias" %>
	<div class="enc-links">
		<a href="https://sondeosglobalmedia.com.mx/globalmedia/" target="_blank">
		<%= image_tag "https://globalmediarocks.s3-us-west-1.amazonaws.com/banners/WhatsApp+Image+2020-02-28+at+6.58.43+PM.jpeg", class: "img-desktop" %>
		</a>
	</div>

<!--	<table width="100%">-->
<!--		<tr>-->
<!--			<td width="70%">-->
<!--				<div class="enc-links">-->
<!--					<a href="https://sondeosglobalmedia.com.mx/globalmedia/">-->
						<%#= image_tag "https://globalmediarocks.s3-us-west-1.amazonaws.com/banners/BANNERCOVID-07.png", class: "img-desktop" %>
<!--					</a>-->
<!--				</div>-->
<!--			</td>-->
<!--			<td width="30%">-->
<!--				<div class="enc-links">-->
<!--					<a href="https://sondeosglobalmedia.com.mx/globalmedia/resultados" target="_blank">-->
						<%#= image_tag "https://globalmediarocks.s3-us-west-1.amazonaws.com/banners/resultados_generales.jpg", class: "img-desktop" %>
<!--					</a>-->
<!--				</div>-->
<!--			</td>-->
<!--		</tr>-->
<!--	</table>-->

<style>
	.enc-links {
		display:  flex;
		flex-direction:  row;
		align-items:  stretch;
		justify-content:  center;
		width:  100%;
	}
	.enc-links a {
		width:  100%;
	}
	.enc-links img {
		height:  auto;
		width:  100%;
		flex-shrink: 0;
	}
	@media screen and (max-width:  1024px) {
		.enc-links {
			flex-direction:  column;
		}
		.enc-links a {
			width:  100%;
			max-width:  400px;
			margin:  0 auto;
		}
	}
</style>

<style>
	.banner-wide {
		display: flex;
		width:  100%;
		height:  auto;
	}
	.banner-wide img {
		width:  100%;
		height:  auto;
		margin-bottom: 15px;
	}
	.banner-ww {
		width: 100%;
		height:  auto;
		/*display:  flex; */
	}
	.banner-ww img {
		width:  100%;
		height:  auto;
	}
</style>
<!-- <br>

<a href="/WFM" class="banner-ww">
	<img src="https://globalmediarocks.s3-us-west-1.amazonaws.com/banners/ban.jpg">
</a>
<br>
-->
<% cache @breaking_news do %>
	<% if @breaking_news.count > 0 %>
		<%= render "components/breaking-news" %>
	<% end %>
<% end %>

		<div class="highlights-container">
			<% @highlights.each do |highlight| %>
				<% if highlight.order == 1 %>
					<%= render "components/principal-highlight", article: highlight.article %>
				<% else %>
					<%= render "components/secondary-highlight", article: highlight.article %>
				<% end %>
			<% end %>
		</div>


<% cache(get_banner("global", "TitlePage", "Grande")) do %>
	<% if get_banner("global", "TitlePage", "Grande") %>
		<%= render "components/big-banner", banner: get_banner("global", "TitlePage", "Grande") %>
	<% end %>
<% end %>
<% if true %>
<div class="special-articles-container">

	<div class="special-articles">
		<% if true %>
			<% cache(latest_news) do %>
				<%= render "components/latest-news", articles: latest_news  %>
			<% end %>
				<% if get_banner("", "TitlePage", "Chico" ).count > 0 %>
					<%= render "components/small-banner", banner: get_banner("", "TitlePage", "Chico" ) %>
				<% else %>
					<% if get_banner("", "Global", "Chico" ).count > 0 %>
						<%= render "components/small-banner", banner: get_banner("", "Global", "Chico" ) %>
					<% end %>
				<% end %>
		<% end %>


	</div>

		<% cache(get_collaborators) do %>
			<div class="special-articles--collaborators">
				<%= render "components/collaborators", articles: get_collaborators %>
			</div>
		<% end %>
</div>
<div class="special-articles-container">
		<% cache(get_investigation_articles) do %>
			<% if get_investigation_articles.count > 0 %>
				<%= render "components/special-articles", type: "Investigación Especial", title: Relationship.where(relationship_type: "Investigation").order(created_at: :asc).last.name, articles: get_investigation_articles %>
			<% end %>
		<% end %>
	<% cache(get_complaints) do %>
		<% if get_complaints %>
			<%= render "components/special-articles", type: "#DENUNCIAGLOBAL", title: "Denuncia Global", articles: get_complaints %>
		<% end %>
	<% end %>
</div>
<% end %>
<div class="section-previews-container">
	<% @sections.each do |section| %>
		<!-- SAN LUIS -->
		<% cache(get_cover_articles(section.id)) do %>
			<%= render "/layouts/cover_section_preview", articles: get_cover_articles(section.id) %>
		<% end %>

	<% end %>



</div>
	<% if get_banner("", "TitlePage", "Grande" ).count > 0 %>
		<%= render "components/big-banner", banner: get_banner("", "TitlePage", "Grande" )  %>
	<% else %>
		<% if get_banner("", "Global", "Grande" ).count > 0 %>
			<%= render "components/big-banner", banner: get_banner("", "Global", "Grande" )  %>
		<% end %>
	<% end %>
