<div class="interface--row">
	
	<div class="note note--display">
		
		<h1 class="title"><%= @article.name %></h1>	
		<div class="article__info">
			<p class="author">Por <%= @article.user.full_name %></p>
			<p class="date"><%= @article.created_at.strftime("%m:%M %p %A %e %B, %Y") %></p>
			<% if @article.articable_type == "Section" %>
				<%= link_to @article.section, @article.section, class: "section" %>
			<% end %>
		</div>
		<%= render "components/social-media-links", article: @article %>
		<% if @article.keyword %>
			<div class="keyword-container">#EsNoticia: <%= @article.keyword.keyword %></div>
		<% end %>
		<div class="hashtags-container">
			<%= render @article.hashtags %>
		</div>

		<p class="short-description"><%= @article.short_description %></p>
		
		<% if @article.image %>
			<%= image_tag @article.image, class: "main-image" %>
		<% end %>
			Tiempo: <%= @article.scheduled_time %>

		<div id="quill-container" class="quill--article">	
		</div>

		<!-- NOTAS DEL PROGRAMADOR-->
			<!-- NO QUITAR ESTOS IFS PORQUE SON LOS QUE VEN SI HAY BANNER O NO -->

			<!-- CAMBIAR EL NAME POR EL PARAMETRO QUE QUIERAS MOSTRAR->
		<!-- -->
		

		<% if get_banner(@article.articable, @article.articable_type, "Grande" ) %>

			<%= render "components/big-banner", article: @article, banner: get_banner(@article.articable, @article.articable_type, "Grande" )  %>
		<% else %>
			<% if get_banner(@article.articable, "Global", "Grande" ) %>
				<%= render "components/big-banner", article: @article, banner: get_banner(@article.articable, "Global", "Grande" ) %>
			<% else %>
				<%= render "components/big-banner", article: @article, banner: "" %>

			<% end %>
		<% end %>
		<%= render "components/section-recommendations", articles: get_latest_articles_per_section(Section.find_by_name(@article.section).id, 3), section_name: @article.section, highlight: "" %>

	</div>

	<% if get_banner(@article.articable, @article.articable_type, "Mediano" ) %>
		<%= render "components/sidebar", article: @article, banner: get_banner(@article.articable, @article.articable_type, "Mediano" ) %>
	<% else %>
		<% if get_banner(@article.articable, "Global", "Mediano" ) %>
			<%= render "components/sidebar", article: @article, banner: get_banner(@article.articable, "Global", "Mediano" ) %>
		<% else %>
			<%= render "components/sidebar", article: @article, banner: ""  %>
		<% end %>
	<% end %>

</div>

<script>
	var content = <%= raw(@article.note) %>;
	var container = document.getElementById("quill-container")
	display_quill_note(content, container);
</script>