<div class="gallery">
	<div class="gallery__image">
		<img src="">
	</div>
	<div class="gallery__controls">
		<div class="previous"></div>

		<div class="next"></div>
	</div>
</div>
<script>
	$(document).on("click", function(event) {
		if( $(event.target).is(".gallery__thumbnail") ) {
			TweenMax.set(".gallery", { display:  "flex" }); 
			TweenMax.to(".gallery", .6, { opacity: 1, pointerEvents: "all" });
			$(".gallery__image img").attr("src", $(event.target).attr("src"));
			current_image = $(event.target).data("image");
			console.log(current_image); 
		}	
		if($(event.target).is(".gallery__image") && !($(event.target).is(".gallery__image img") || $(event.target).is(".gallery__controls") || $(event.target).is(".gallery__controls *"))) {
			TweenMax.to(".gallery", .6, { opacity: 0, pointerEvents: "none", onComplete: function(){
				TweenMax.set(".gallery", { display:  "none" }); 
			} });
		}
		if( $(event.target).is(".gallery__controls .next") ) {		
			console.log($(".gallery__thumbnail").length); 
			console.log(current_image); 
			if ($(".gallery__thumbnail").length > current_image) {
				$(".gallery__image img").attr("src", $(".gallery__thumbnail").eq(current_image + 1).attr("src")); 				
				current_image++;
			} else {
				$(".gallery__image img").attr("src", $(".gallery__thumbnail").eq(0).attr("src"));
				current_image = 0; 
			}
		}
		if( $(event.target).is(".gallery__controls .previous") ) {		
			console.log($(".gallery__thumbnail").length); 
			console.log(current_image); 
			if (0 < current_image) {
				$(".gallery__image img").attr("src", $(".gallery__thumbnail").eq(current_image - 1).attr("src")); 				
				current_image--;
			} else {
				$(".gallery__image img").attr("src", $(".gallery__thumbnail").eq($(".gallery__thumbnail").length).attr("src"));
				current_image = $(".gallery__thumbnail").length; 
			}
		}
	}); 
</script>
<div class="interface--row">
	<div class="note note--display">
		<% if @article.exclusive? %>
			<p class="exclusive--note">Exclusiva</p>
		<% end %>
		<h1 class="title"><%= @article.name %></h1>	
		<p class="short-description"><%= @article.short_description %></p>
		<div class="article__info">
			<% if @article.author and @article.author.name != "Ninguno" %>
				<p class="author">Por <%= @article.author.name %></p>

			<% else %>
				<% if @article.user %>
					<p class="author">Por <%= @article.user.full_name %></p>
				<% else %>
					<p class="author">--</p>
				<% end %>
			<% end %>
			<p class="date"><%= l(@article.created_at, format: "%H:%M %A %e %B, %Y") %></p>
			<% if @article.articable_type == "Section" %>
				<%= link_to @article.section, section_path(Section.find_by_name(@article.section)), class: "section" %>
			<% end %>
			<%= render "components/social-media-links", article: @article %>
			
		</div>
		<% if @article.keyword %>
			<div class="keyword-container">#EsNoticia: <%= @article.keyword.keyword %></div>
		<% end %>
		<div class="hashtags-container">
			<%= render @article.hashtags %>
		</div>

		<% if @article.video_url != "" %> 
			<div class="iframe">
				<iframe width="650" height="415" src="<%= @article.	video_url %>" frameborder="0" allowfullscreen></iframe>
			</div>
		<% else %>		
			<% if @article.image %>
				<%= image_tag @article.image, class: "main-image" %>
			<% end %>
		<% end %>
		<% if @article.images.count > 0  %>
			<div class="gallery__thumbnails">
				<% @article.images.each_with_index do |image, index| %>
					<%= image_tag image.src, class: "gallery__thumbnail", data: { image: index }  %>
				<% end %>	
			</div>
		<% end %>
		<% if !@article.note.empty? %>
			<div id="quill-container" class="quill--article">
			</div>
		<% elsif @article.note_old != nil and @article.note.empty? %>
			<div class="quill--article article--old">
			</div>
			<script>
				$(".quill--article").html("<%= @article.note_old %>"); 
			</script>
		<% end %>

		<!-- NOTAS DEL PROGRAMADOR-->
			<!-- NO QUITAR ESTOS IFS PORQUE SON LOS QUE VEN SI HAY BANNER O NO -->

			<!-- CAMBIAR EL NAME POR EL PARAMETRO QUE QUIERAS MOSTRAR->
		<!-- -->
		<div class="fb-comments" data-href="<%= request.original_url %>" data-numposts="5"></div>
		<% if get_banner(@article.articable, @article.articable_type, "Grande" ).count > 0 %>

			<%= render "components/big-banner", article: @article, banner: get_banner(@article.articable, @article.articable_type, "Grande" )  %>
		<% else %>
			<% if get_banner(@article.articable, "Global", "Grande" ).count > 0 %>
				<%= render "components/big-banner", article: @article, banner: get_banner(@article.articable, "Global", "Grande" ) %>
			<% else %>
				<%= render "components/big-banner", article: @article, banner: "" %>

			<% end %>
		<% end %>
		<div class="radio-banner__tune-in" style="margin-top:  8px; ">También te puede interesar:</div>
		<% render "components/section-recommendations", articles: get_latest_articles_per_section(Section.find_by_name(@article.section).id, 3), section_name: @article.section, highlight: "" %>
		<% case @article.section %>
			<% when "Metrópoli" %>
				<% if Section.where("México").count > 0 %>
					<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("México").id, 3) , section_name: "México", highlight: "" %>
				<% end %>
				<% if Section.where("Mundo").count > 0 %>
					<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Mundo").id, 3) , section_name: "Mundo", highlight: "" %>
				<% end %>
			<% when "México" %>
				<% if Section.where("Metrópoli").count > 0 %>
					<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Metrópoli").id, 3) , section_name: "Metrópoli", highlight: "" %>
				<% end %>
				<% if Section.where("Mundo").count > 0 %>
					<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Mundo").id, 3) , section_name: "Mundo", highlight: "" %>
				<% end %>
			<% when "Mundo" %>
				<% if Section.where("Entretenimiento").count > 0 %>
					<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Entretenimiento").id, 3) , section_name: "Entretenimiento", highlight: "" %>
				<% end %>
				<% if Section.where("Táctica Nacional e Internacional").count > 0 %>
					<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Táctica Nacional e Internacional").id, 3) , section_name: "Táctica Nacional e Internacional", highlight: "" %>
				<% end %>

			<% when "Negocios" %>
				<% if Section.where(name: "México").count > 0 %>
					<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("México").id, 3) , section_name: "México", highlight: "" %>
				<% end %>
				<% if Section.where(name: "Metrópoli").count > 0 %>
					<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Metrópoli").id, 3) , section_name: "Metrópoli", highlight: "" %>
				<% end %>
			<% when "Entretenimiento" %>
				<% if Section.where(name: "Táctica Internacional").count > 0 %>
					<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Táctica Internacional").id, 3) , section_name: "Táctica Internacional", highlight: "" %>
				<% end %>
				<% if Section.where(name: "Tecnología").count > 0 %>

					<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Tecnología").id, 3) , section_name: "Tecnología", highlight: "" %>
				<% end %>
				
			<% when "Táctica Nacional e Internacional" %>
				<% if Section.where(name: "Metrópoli").count > 0 %>
					<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Metrópoli").id, 3) , section_name: "Metrópoli", highlight: "" %>
				<% end %>
				<% if Section.where(name: "Entretenimiento").count > 0 %>
					<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Entretenimiento").id, 3) , section_name: "Entretenimiento", highlight: "" %>
				<% end %>
			<% when "Táctica Local" %>
				<% if Section.where("Metrópoli").count > 0 %>
					<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Metrópoli").id, 3) , section_name: "Metrópoli", highlight: "" %>
				<% end %>
				<% if Section.where("Entretenimiento").count > 0 %>
					<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Entretenimiento").id, 3) , section_name: "Entretenimiento", highlight: "" %>
				<% end %>

			<% when "Tecnología" %>
				<% if Section.where("Metrópoli").count > 0 %>
					<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Metrópoli").id, 3) , section_name: "Metrópoli", highlight: "" %>
				<% end %>
				<% if Section.where("Entretenimiento").count > 0 %>
					<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Entretenimiento").id, 3) , section_name: "Entretenimiento", highlight: "" %>
				<% end %>

		<% end %>

	</div>

	<% if get_banner(@article.articable, @article.articable_type, "Mediano" ).count > 0 %>
		<%= render "components/sidebar", article: @article, banner: get_banner(@article.articable, @article.articable_type, "Mediano" ) %>
	<% else %>
		<% if get_banner(@article.articable, "Global", "Mediano" ).count > 0 %>
			<%= render "components/sidebar", article: @article, banner: get_banner(@article.articable, "Global", "Mediano" ) %>
		<% else %>
			<%= render "components/sidebar", article: @article, banner: ""  %>
		<% end %>
	<% end %>

</div>


<template id="related-articles">
	<p class="related-articles"><strong class="related-articles__title">Artículos relacionados:</strong><br><% related_by_hashtags(@article).each do |article| %><br><%= link_to truncate(article.name, length:  80), article, class: "related-article" %><% end %></p>
</template>

<script async defer src="https://platform.instagram.com/en_US/embeds.js"></script>

<script>
	<% if @article.note %>
		var content = <%= raw(@article.note) %>;
		var container = document.getElementById("quill-container")
		display_quill_note(content, container);

		<% if related_by_hashtags(@article).count > 0 %>
			var numberOfParagraphs = $("#quill-container p").length; 

			var middle = parseInt(Math.ceil(numberOfParagraphs/2)); 
			var relatedArticles = document.querySelector("#related-articles");
			var clone = document.importNode(relatedArticles.content, true); 

			$("#quill-container p:nth-of-type("+middle+")").after(clone);
			var clone = document.importNode(relatedArticles.content, true); 
			$("#quill-container").after(clone);
			// $("#quill-container > p:nth-of-type("+middle+")");
		<% end %>
	<% end %>


</script>