<h1><%= @article.name %></h1>


<p><%= render @article.hashtags %></p>

<% if @article.articable_type == "Section" %>
	<%= @article.section.name %>
		
	</article>
<% end %>

<p><%= @article.short_description %></p>
<p><%= @article.note %></p>

