<h1><%= @article.name %></h1>


<p><%= render @article.hashtags %></p>

<% if @article.articable_type == "Section" %>
	<%= @article.articable.name %>
		
	
<% end %>

<p><%= @article.short_description %></p>
<p><%= @article.note %></p>

<!-- NOTAS DEL PROGRAMADOR-->
	<!-- NO QUITAR ESTOS IFS PORQUE SON LOS QUE VEN SI HAY BANNER O NO -->

	<!-- CAMBIAR EL NAME POR EL PARAMETRO QUE QUIERAS MOSTRAR->
<!-- -->
<% if get_banner(@article.articable, @article.articable_type, "Chico" ) %>
	Banner Chico: <%= get_banner(@article.articable, @article.articable_type, "Chico" ).name %>
	<br/>
<% end %>

<% if get_banner(@article.articable, @article.articable_type, "Mediano" ) %>

	Banner Mediano: <%= get_banner(@article.articable, @article.articable_type, "Mediano" ).name  %><br/>
<% end %>

<% if get_banner(@article.articable, @article.articable_type, "Grande" ) %>

	Banner Grande: <%= get_banner(@article.articable, @article.articable_type, "Grande" ).name  %><br/>
<% end %>