<div class="panel__header">
	<h2 class="title panel__title"><span>Secciones / </span><span class="current"><%= @section.name %></span></h2>
	<div class="panel__actions">
		<%= link_to "Nueva sección", new_panel_section_path, class: "button" %>
	</div>
</div>


<%= form_for [:panel, @section], html: { class: "card admin-form" } do |f| %>
	<% if @section.errors.any? %>	
		<h5><%= pluralize(@section.errors.count, "error") %></h5>
			<ul>
				<% @section.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
				<% end %>
			</ul>
	<% end %>


	<div class="field">	
		<label>Posición del Highlight:</label>
		<%= f.select :order, options_for_select((1..6).step(1), @seection.highlight.order)%>
	</div>
	<div class="field">
		
		<label>Artículo:</label>
		<% if @highlight.new_record? %>
			<%= f.autocomplete_field(:article_id, autocomplete_article_name_highlights_path, :id_element => '#article_id', class: "search-bar", placeholder: "Buscar Artículo", type: "search") %>
		<% else %>
			<%= f.autocomplete_field(:article_id, autocomplete_article_name_highlights_path, :id_element => '#article_id', class: "search-bar", placeholder: "Buscar Artículo", type: "search", value: @highlight.article.name) %>
		<% end %>
	</div>
<% end %>

<script>
	button = $("button.button");
	form = $(".card.admin-form");
	saveFormOnButtonClick(button, form); 
</script>