
<div class="panel__header">
	<h2 class="title panel__title">Sección / <span class="current">Recomendaciones</span></h2>
	<div class="panel__actions">
		<button class="button">Escoger artículos</button>
	</div>
</div>
<%= form_for :panel, url: {controller: "panel/sections", action: 'set_global_recommendations'}, html: { class: "card admin-form" }  do |f|%>
	<div class="field">
		
		<% if @recommendations.first %>
			<% f.autocomplete_field(:first_article_id, autocomplete_article_name_panel_sections_path, :id_element => '#first_article_id', class: "search-bar", placeholder: "Buscar Artículo", type: "search", value: @recommendations.first.name) %>
			<% f.hidden_field :first_article_id, :id => "first_article_id", value: @recommendations.first.article_id %>
			<%= f.text_field :first_article_id, placeholder: "Coloca el id del artículo aquí" %>


		<% else %>
			<% f.autocomplete_field(:first_article_id, autocomplete_article_name_panel_sections_path, :id_element => '#first_article_id', class: "search-bar", placeholder: "Buscar Artículo", type: "search") %>
			<% f.hidden_field :first_article_id, :id => "first_article_id" %>
			<%= f.text_field :first_article_id, placeholder: "Coloca el id del artículo aquí" %>

		<% end %>
	</div>
	<div class="field">

		<% if @recommendations.second %>
			<% f.autocomplete_field(:second_article_id, autocomplete_article_name_panel_sections_path, :id_element => '#second_article_id', class: "search-bar", placeholder: "Buscar Artículo", type: "search", value: @recommendations.second.name) %>
			<% f.hidden_field :second_article_id, :id => "second_article_id", value: @recommendations.second.article_id  %>
			<%= f.text_field :second_article_id, placeholder: "Coloca el id del artículo aquí" %>


		<% else %>
			<% f.autocomplete_field(:second_article_id, autocomplete_article_name_panel_sections_path, :id_element => '#second_article_id', class: "search-bar", placeholder: "Buscar Artículo", type: "search") %>
			<% f.hidden_field :second_article_id, :id => "second_article_id" %>
			<%= f.text_field :second_article_id, placeholder: "Coloca el id del artículo aquí" %>

		<% end %>
	</div>
	<div class="field">

		<% if @recommendations.second %>
			<% f.autocomplete_field(:third_article_id, autocomplete_article_name_panel_sections_path, :id_element => '#third_article_id', class: "search-bar", placeholder: "Buscar Artículo", type: "search", value: @recommendations.third.name) %>
			<% f.hidden_field :third_article_id, :id => "third_article_id", value: @recommendations.third.article_id  %>
			<%= f.text_field :third_article_id, placeholder: "Coloca el id del artículo aquí" %>


		<% else %>
			<% f.autocomplete_field(:third_article_id, autocomplete_article_name_panel_sections_path, :id_element => '#third_article_id', class: "search-bar", placeholder: "Buscar Artículo", type: "search") %>
			<% f.hidden_field :third_article_id, :id => "third_article_id" %>
			<%= f.text_field :third_article_id, placeholder: "Coloca el id del artículo aquí" %>

		<% end %>

	</div>
	<% f.submit %>
<% end %>
<script>
	saveFormOnButtonClick($("button.button"), $("form")); 
</script>
