<div class="panel__header">
	<h2 class="title panel__title"><span>Secciones / </span><span class="current"><%= @section.name %></span></h2>
	<div class="panel__actions">
		<%= link_to "Escoger destacado", panel_section_select_highlights_path(@section), class: "button" %>
		<%= link_to "Escoger Recomendaciones de Sección", panel_section_select_global_recommendations_path(@section), class: "button" %>
		<%= link_to "Editar sección", edit_panel_section_path(@section), class: "button" %>
	</div>
</div>
<div class="table card">
	<div class="table__row">
		<div class="table__cell">Visitas totales a sección:</div>
	</div>
	<div class="table__row">
		<div class="table__cell"><%= @section.total_hits_in_current_month %></div>
	</div>
</div>
<div class="table card">
	<div class="table__row">
		<div class="table__cell">Artículo destacado:</div>
	</div>
	<div class="table__row">
		<div class="table__cell"><% if @highlight_article %><%= @highlight_article.name %><% else %>Ninguno<% end %></div>
	</div>
</div>


<div class="table card">
	<div class="table__row">
		<p class="table__cell f-3">Título:</p>
		<p class="table__cell">Vistas Totales:</p>
		<p class="table__cell">Editar:</p>
		<p class="table__cell">Destacado:</p>
	</div>
	<%= form_tag(panel_sections_set_highlight_and_recomendations_path) do %>

		<% @section.articles.each do |article| %>
			<div class="table__row">
				<%= link_to article.name, article, class: "table__cell f-3" %>
				<p class="table__cell">
					<% if article.hits.last %>
						<%= article.total_hits_in_current_month %>
					<% else %>
						0
					<% end %>
				</p>
				<%= link_to "Editar", edit_panel_article_path(article), class: "table__cell edit" %>
				<%= article.highlight %>
				<% if article.highlight? %>
					<p class="table__cell"> <%= radio_button_tag(:highlight, article.id, :checked) %></p>
				<% else %>
					<p class="table__cell"> <%= radio_button_tag(:highlight, article.id) %></p>
				<% end %>
			</div>
		<% end %>
	<% end %>
</div>

<div class="table card">
	<div class="table__row">
		<p class="table__cell">Recomendaciones actuales:</p>
		<p class="table__cell">Extracto:</p>
		<p class="table__cell">Sección:</p>
	</div>
	<% @recommendations.each do |recommendation| %>
		<div class="table__row">
			<%= link_to truncate(recommendation.article.name, length:  40), recommendation.article, class: "table__cell" %>
			<p class="table__cell"><%= truncate(recommendation.article.short_description, length:  60) %></p>
			<p class="table__cell"><%= recommendation.article.section %></p>
		</div>
	<% end %>
</div>
