<div class="panel__header">
  <h2 class="title panel__title"><span>Vistas a Página / </span><span class="current">Nuevos objetivos</span></h2>
  <div class="panel__actions">
    <button class="button">Crear objetivos</button>
  </div>
</div>
<%= form_tag panel_hit_objectives_path, class: "card admin-form hit-objectives" do %>
  <% @hit_objectives.each_with_index do |objective, index| %>
    <%= fields_for 'hit_objectives[]', objective do |f| %>
        <div class="field">
          <%= f.hidden_field :section_id, value: index + 1 %>
          <label>Objetivo para <%= Section.find_by(id: index + 1).name %>:</label> 
          <%= f.text_field :objective %>
        </div>
    <% end %>
  <% end %>
<% end %>
<script>
  saveFormOnButtonClick($("button.button"), $(".card.admin-form"));
</script>