<% content_for :title, @section.name  %>

<div class="interface--row">
	
	<div class="section main-content"> 

		<h1 class="section__title" style="background-color:  <%= @section.color %>;"><%= @section.name %></h1>
	
		<% if @section.name == "Denuncia Global" or @section.name == "DENUNCIA GLOBAL" %>
			<%= render "components/global_complaint_videos", article: @articles.first %>
				
		<% end %>

			<% if @section.color %>
				<div class="section__highlight" style="border-bottom:  solid 4px <%= @section.color %>">
			<% else %>
				<div class="section__highlight ui-card">
			<% end %>
					<%= link_to @first_article, class: "image" do %>
						<%= image_tag @first_article.image %>
					<% end %>
					<%= link_to @first_article, class: "section-article__info" do %>
						<h4 class="small-title semibold"><%= @first_article.name %></h4>
						<p class="short-description"><%= @first_article.short_description %></p>
					<% end %>
					<div class="social-media" data-article="<%= article_url(@first_article) %>">
						<%= link_to ("whatsapp://send?text= Estoy leyendo en GlobalMedia: " + article_url(@first_article)), data: { action: "share/whatsapp/share" }, class: "social-media__link whatsapp", target: "_blank" do %>
							<%= image_tag "whatsapp.svg" %>
						<% end %>
						<a class="social-media__link facebook" target="_blank" onclick="shareToFacebook(event);">
							<%= image_tag "facebook.svg" %>				
						</a>	

						<a href="https://twitter.com/share?url=<%= url_encode(article_url(@first_article)) %>&via=GlobalMediaMx&text=<%= @first_article.name %>" class="social-media__link twitter" target="_blank">
							<%= image_tag "twitter.svg" %>
						</a>
						<a class="social-media__link copy" target="_self" data-clipboard-text="<%= article_url(@first_article) %>">	
							<input class="hidden" value="<%= article_url(@first_article) %>">
							<%= image_tag "copy.svg" %>
						</a> 
				</div>
			</div>

			
		<div class="section-articles-container">
			
			<% @articles.each do |article|%>
					<%= render "components/section-article", article: article %>
			<% end %>
			<%# will_paginate @articles, class: "site-pagination" %>

		</div>


		<!-- NOTAS DEL PROGRAMADOR-->
			<!-- NO QUITAR ESTOS IFS PORQUE SON LOS QUE VEN SI HAY BANNER O NO -->

			<!-- CAMBIAR EL NAME POR EL PARAMETRO QUE QUIERAS MOSTRAR->
		<!-- -->
		<!--  -->




		<% if get_banner(@section, "Section", "Grande" ).count > 0 %>

			<%=render "components/big-banner", banner: get_banner(@section, "Section", "Grande" )  %>
		<% else %>
			<% if get_banner(@section, "Global", "Grande" ).count > 0 %>
				<%= render "components/big-banner", banner: get_banner(@section, "Global", "Grande" ) %>
			<% end %>
			<br/>
		<% end %>

		
			<div class="radio-banner__tune-in" style="margin-top:  8px; ">También te puede interesar:</div>
			<% @related_sections.each do |related_section| %>
				<%= render "components/section-recommendations", articles: get_articles_per_section(related_section.section_reference_id, 3), section_name: related_section.section_reference.name, highlight: "" %>

			<% end %>
		

	</div>
		<% if true %>
			<% if get_banner(@section, "Section", "Mediano" ).count > 0 %>
				<%= render "components/sidebar", article: @first_article, banner: get_banner(@section, "Section", "Mediano" ) %>
			<% else %>
				<% if get_banner(@section, "Global", "Mediano" ).count > 0 %>
					<%= render "components/sidebar", article: @first_article, banner: get_banner(@section, "Global", "Mediano" ) %>
					
				<% else %>
					<%= render "components/sidebar", article: @first_article, banner: "" %>
				<% end %>
			<% end %>
		<% end %>
</div>
