<h1><%= @section.name %></h1>


<% @section.articles.each do |article|%>
		
	<%= link_to article.name, article_path(article) %><br/>
<% end %>


<!-- NOTAS DEL PROGRAMADOR-->
	<!-- NO QUITAR ESTOS IFS PORQUE SON LOS QUE VEN SI HAY BANNER O NO -->

	<!-- CAMBIAR EL NAME POR EL PARAMETRO QUE QUIERAS MOSTRAR->
<!-- -->
<% if get_banner(@section, "Section", "Chico" ) %>
	Banner Chico: <%= get_banner(@section, "Section", "Chico" ).name %>
	<br/>
<% else %>
	<% if get_banner(@section, "Global", "Chico" ) %>
		Banner Chico: <%= get_banner(@section, "Global", "Chico" ).name %>
	<% end %>
	<br/>
<% end %>

<% if get_banner(@section, "Section", "Mediano" ) %>

	Banner Mediano: <%= get_banner(@section, "Section", "Mediano" ).name  %><br/>
<% else %>
	<% if get_banner(@section, "Global", "Mediano" ) %>
		Banner Mediano: <%= get_banner(@section, "Global", "Mediano" ).name %>
	<% end %>
	<br/>
<% end %>

<% if get_banner(@section, "Section", "Grande" ) %>

	Banner Grande: <%= get_banner(@section, "Section", "Grande" ).name  %><br/>
<% else %>
	<% if get_banner(@section, "Global", "Grande" ) %>
		Banner Grande: <%= get_banner(@section, "Global", "Grande" ).name %>
	<% end %>
	<br/>
<% end %>

<% case @section.name %>
	<% when "San Luis" %>
		<%= render "/layouts/articles", section: get_articles_per_section(Section.find_by_name("Seguridad").id, 3) , section_name: "Seguridad", highlight: "" %>

	<% when "Seguridad" %>
		<%= render "/layouts/articles", section: get_articles_per_section(Section.find_by_name("Negocios").id, 3), section_name: "Negocios", highlight: "" %>
	<% when "Estados" %>
		<%= render "/layouts/articles", section: get_articles_per_section(Section.find_by_name("Nacional").id, 3), section_name: "Nacional", highlight: "" %>
	<% when "Nacional" %>
		<%= render "/layouts/articles", section: get_articles_per_section(Section.find_by_name("Internacional").id, 3), section_name: "Internacional", highlight: "" %>

	<% when "Internacional" %>
		<%= render "/layouts/articles", section: get_articles_per_section(Section.find_by_name("Nacional").id, 3), section_name: "Nacional", highlight: "" %>

	<% when "Actualidad" %>
		<%= render "/layouts/articles", section: get_articles_per_section(Section.find_by_name("F치randula").id, 3), section_name: "Far치ndula", highlight: "" %>
	<% when "Far치ndula" %>
		<%= render "/layouts/articles", section: get_articles_per_section(Section.find_by_name("Actualidad").id, 3),  section_name: "Actualidad", section_name: "Actualidad", highlight: "" %>
	<% when "T치ctica" %>
		<%= render "/layouts/articles", section: get_articles_per_section(Section.find_by_name("Actualidad").id, 3), section_name: "Actualidad", section_name: "Actualidad", highlight: "" %>
	<% when "Negocio" %>
		<%= render "/layouts/articles", section: get_articles_per_section(Section.find_by_name("San Luis").id, 3), section_name: "San Luis", section_name: "San Luis", highlight: "" %>
<% end %>

<!-- GLOBAL RECOMIENDA-->

<%= render "/layouts/recommendations", articles: get_recommendations_per_section(@section.id) %>
