<div class="interface--row">
	
	<div class="section main-content"> 

		<h1 class="section__title"><%= @section.name %></h1>

		<div class="section-articles-container">
			
			<% @articles.each do |article|%>
				<%= render "components/section-article", article: article %>
			<% end %>
		</div>

		<%= will_paginate @articles, class: "site-pagination" %>

		<!-- NOTAS DEL PROGRAMADOR-->
			<!-- NO QUITAR ESTOS IFS PORQUE SON LOS QUE VEN SI HAY BANNER O NO -->

			<!-- CAMBIAR EL NAME POR EL PARAMETRO QUE QUIERAS MOSTRAR->
		<!-- -->
		<!--  -->




		<% if get_banner(@section, "Section", "Grande" ) %>

			<%=render "components/big-banner", banner: get_banner(@section, "Section", "Grande" )  %>
		<% else %>
			<% if get_banner(@section, "Global", "Grande" ) %>
				<%= render "components/big-banner", banner: get_banner(@section, "Global", "Grande" ) %>
			<% end %>
			<br/>
		<% end %>

		<% case @section.name %>
			<% when "San Luis" %>
				<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Seguridad").id, 3) , section_name: "Seguridad", highlight: "" %>

			<% when "Seguridad" %>
				<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Negocios").id, 3), section_name: "Negocios", highlight: "" %>
			<% when "Estados" %>
				<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Nacional").id, 3), section_name: "Nacional", highlight: "" %>
			<% when "Nacional" %>
				<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Internacional").id, 3), section_name: "Internacional", highlight: "" %>

			<% when "Internacional" %>
				<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Nacional").id, 3), section_name: "Nacional", highlight: "" %>

			<% when "Actualidad" %>
				<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Far치ndula").id, 3), section_name: "Far치ndula", highlight: "" %>
			<% when "Far치ndula" %>
				<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Actualidad").id, 3),  section_name: "Actualidad", section_name: "Actualidad", highlight: "" %>
			<% when "T치ctica" %>
				<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Actualidad").id, 3), section_name: "Actualidad", section_name: "Actualidad", highlight: "" %>
			<% when "Negocio" %>
				<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("San Luis").id, 3), section_name: "San Luis", section_name: "San Luis", highlight: "" %>
		<% end %>

	</div>
	<% if @section.articles.count > 0 %>
		<% if get_banner(@section, "Section", "Mediano" ) %>
			<%= render "components/sidebar", article: @articles.first, banner: get_banner(@section, "Section", "Mediano" ) %>
		<% else %>
			<% if get_banner(@section, "Global", "Mediano" ) %>
				<%= render "components/sidebar", article: @articles.first, banner: get_banner(@section, "Global", "Mediano" ) %>
				
			<% else %>
				<%= render "components/sidebar", article: @articles.first, banner: "" %>
			<% end %>
		<% end %>
	<% end %>
</div>

