<div class="interface--row">
	
	<div class="section main-content"> 

		<h1 class="section__title" style="background-color:  <%= @section.color %>;"><%= @section.name %></h1>
	
		<% if @section.name == "Denuncia Global" or @section.name == "DENUNCIA GLOBAL" %>
			<%= render "components/global_complaint_videos", article: @articles.first %>
				
		<% end %>

		<% if @highlight %>
			<% if @section.color %>
				<div class="section__highlight" style="border-bottom:  solid 4px <%= @section.color %>">
			<% else %>
				<div class="section__highlight ui-card">
			<% end %>
				<%= link_to @highlight, class: "image" do %>
					<%= image_tag @highlight.image %>
				<% end %>
				<%= link_to @highlight, class: "section-article__info" do %>
					<h4 class="small-title semibold"><%= @highlight.name %></h4>
					<p class="short-description"><%= @highlight.short_description %></p>
				<% end %>
				<%= render "components/social-media-links", article: @highlight %>
			</div>
		<% end %>


		<div class="section-articles-container">
			
			<% @articles.each do |article|%>
				<%= render "components/section-article", article: article %>
			<% end %>
		</div>

		<%= will_paginate @articles, class: "site-pagination" %>

		<!-- NOTAS DEL PROGRAMADOR-->
			<!-- NO QUITAR ESTOS IFS PORQUE SON LOS QUE VEN SI HAY BANNER O NO -->

			<!-- CAMBIAR EL NAME POR EL PARAMETRO QUE QUIERAS MOSTRAR->
		<!-- -->
		<!--  -->




		<% if get_banner(@section, "Section", "Grande" ).count > 0 %>

			<%=render "components/big-banner", banner: get_banner(@section, "Section", "Grande" )  %>
		<% else %>
			<% if get_banner(@section, "Global", "Grande" ).count > 0 %>
				<%= render "components/big-banner", banner: get_banner(@section, "Global", "Grande" ) %>
			<% end %>
			<br/>
		<% end %>
		<div class="radio-banner__tune-in" style="margin-top:  8px; ">También te puede interesar:</div>

		<% case @section.name %>
			<% when "Metrópoli" %>
				<% if Section.where("México").count > 0 %>
					<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("México").id, 3) , section_name: "México", highlight: "" %>
				<% end %>
				<% if Section.where("Mundo").count > 0 %>
					<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Mundo").id, 3) , section_name: "Mundo", highlight: "" %>
				<% end %>
			<% when "México" %>
				<% if Section.where("Metrópoli").count > 0 %>
					<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Metrópoli").id, 3) , section_name: "Metrópoli", highlight: "" %>
				<% end %>
				<% if Section.where("Mundo").count > 0 %>
					<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Mundo").id, 3) , section_name: "Mundo", highlight: "" %>
				<% end %>
			<% when "Mundo" %>
				<% if Section.where("Entretenimiento").count > 0 %>
					<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Entretenimiento").id, 3) , section_name: "Entretenimiento", highlight: "" %>
				<% end %>
				<% if Section.where("Táctica Nacional e Internacional").count > 0 %>
					<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Táctica Nacional e Internacional").id, 3) , section_name: "Táctica Nacional e Internacional", highlight: "" %>
				<% end %>

			<% when "Negocios" %>
				<% if Section.where(name: "México").count > 0 %>
					<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("México").id, 3) , section_name: "México", highlight: "" %>
				<% end %>
				<% if Section.where(name: "Metrópoli").count > 0 %>
					<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Metrópoli").id, 3) , section_name: "Metrópoli", highlight: "" %>
				<% end %>
			<% when "Entretenimiento" %>
				<% if Section.where(name: "Táctica Internacional").count > 0 %>
					<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Táctica Internacional").id, 3) , section_name: "Táctica Internacional", highlight: "" %>
				<% end %>
				<% if Section.where(name: "Tecnología").count > 0 %>

					<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Tecnología").id, 3) , section_name: "Tecnología", highlight: "" %>
				<% end %>
				
			<% when "Táctica Nacional e Internacional" %>
				<% if Section.where(name: "Metrópoli").count > 0 %>
					<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Metrópoli").id, 3) , section_name: "Metrópoli", highlight: "" %>
				<% end %>
				<% if Section.where(name: "Entretenimiento").count > 0 %>
					<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Entretenimiento").id, 3) , section_name: "Entretenimiento", highlight: "" %>
				<% end %>
			<% when "Táctica Local" %>
				<% if Section.where("Metrópoli").count > 0 %>
					<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Metrópoli").id, 3) , section_name: "Metrópoli", highlight: "" %>
				<% end %>
				<% if Section.where("Entretenimiento").count > 0 %>
					<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Entretenimiento").id, 3) , section_name: "Entretenimiento", highlight: "" %>
				<% end %>

			<% when "Tecnología" %>
				<% if Section.where("Metrópoli").count > 0 %>
					<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Metrópoli").id, 3) , section_name: "Metrópoli", highlight: "" %>
				<% end %>
				<% if Section.where("Entretenimiento").count > 0 %>
					<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Entretenimiento").id, 3) , section_name: "Entretenimiento", highlight: "" %>
				<% end %>

		<% end %>
	</div>
	<% if @section.articles.count > 0 %>
		<% if get_banner(@section, "Section", "Mediano" ).count > 0 %>
			<%= render "components/sidebar", article: @articles.first, banner: get_banner(@section, "Section", "Mediano" ) %>
		<% else %>
			<% if get_banner(@section, "Global", "Mediano" ).count > 0 %>
				<%= render "components/sidebar", article: @articles.first, banner: get_banner(@section, "Global", "Mediano" ) %>
				
			<% else %>
				<%= render "components/sidebar", article: @articles.first, banner: "" %>
			<% end %>
		<% end %>
	<% end %>
</div>

