<div class="interface--row">
	
	<div class="section main-content"> 

		<h1 class="section__title" style="background-color:  <%= @intl.color %>; "><%= @intl.name %></h1>
		<div class="section-articles-container">
			<% @intl_articles.each do |article|%>
				<%= render "components/section-article", article: article %>
			<% end %>
		</div>
		<%= link_to "Ver más", section_path(@intl), class: "view-more" %>

		<h1 class="section__title" style="background-color:  <%= @local.color %>;"><%= @local.name %></h1>
		<div class="section-articles-container">
			<% @local_articles.each do |article|%>
				<%= render "components/section-article", article: article %>
			<% end %>
		</div>
		<%= link_to "Ver más", section_path(@local), class: "view-more" %>
		<!-- NOTAS DEL PROGRAMADOR-->
			<!-- NO QUITAR ESTOS IFS PORQUE SON LOS QUE VEN SI HAY BANNER O NO -->

			<!-- CAMBIAR EL NAME POR EL PARAMETRO QUE QUIERAS MOSTRAR->
		<!-- -->
		<!--  -->




		<% if get_banner(@intl, "Section", "Grande" ).count > 0 %>

			<%=render "components/big-banner", banner: get_banner(@intl, "Section", "Grande" )  %>
		<% else %>
			<% if get_banner(@intl, "Global", "Grande" ).count > 0 %>
				<%= render "components/big-banner", banner: get_banner(@intl, "Global", "Grande" ) %>
			<% end %>
			<br/>
		<% end %>
		<div class="radio-banner__tune-in" style="margin-top:  8px; ">También te puede interesar:</div>

		<% case @intl.name %>
			<% when "Metrópoli" %>
				<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("México").id, 3) , section_name: "México", highlight: "" %>
				<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Mundo").id, 3) , section_name: "Mundo", highlight: "" %>
			<% when "México" %>
				<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Metrópoli").id, 3) , section_name: "Metrópoli", highlight: "" %>
				<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Mundo").id, 3) , section_name: "Mundo", highlight: "" %>
			<% when "Mundo" %>
				<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Entretenimiento").id, 3) , section_name: "Entretenimiento", highlight: "" %>
				<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Táctica").id, 3) , section_name: "Táctica", highlight: "" %>
			<% when "Business" %>
				<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("México").id, 3) , section_name: "México", highlight: "" %>
				<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Metrópoli").id, 3) , section_name: "Metrópoli", highlight: "" %>
			<% when "Entretenimiento" %>
				<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Táctica").id, 3) , section_name: "Táctica", highlight: "" %>
				<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Tecnología").id, 3) , section_name: "Tecnología", highlight: "" %>
				
			<% when "Táctica Nacional e Internacional" %>
				<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Metrópoli").id, 3) , section_name: "Metrópoli", highlight: "" %>
				<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Entretenimiento").id, 3) , section_name: "Entretenimiento", highlight: "" %>

			<% when "Táctica Local" %>
				<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Metrópoli").id, 3) , section_name: "Metrópoli", highlight: "" %>
				<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Entretenimiento").id, 3) , section_name: "Entretenimiento", highlight: "" %>

			<% when "Tecnología" %>
				<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Metrópoli").id, 3) , section_name: "Metrópoli", highlight: "" %>
				<%= render "components/section-recommendations", articles: get_articles_per_section(Section.find_by_name("Entretenimiento").id, 3) , section_name: "Entretenimiento", highlight: "" %>

		<% end %>

	</div>
	<% if @intl.articles.count > 0 %>
		<% if get_banner(@intl, "Section", "Mediano" ).count > 0 %>
			<%= render "components/sidebar", article: @intl.articles.first, banner: get_banner(@intl, "Section", "Mediano" ) %>
		<% else %>
			<% if get_banner(@intl, "Global", "Mediano" ).count > 0 %>
				<%= render "components/sidebar", article: @intl.articles.first, banner: get_banner(@intl, "Global", "Mediano" ) %>
				
			<% else %>
				<%= render "components/sidebar", article: @intl.articles.first, banner: "" %>
			<% end %>
		<% end %>
	<% end %>
</div>

