<div class="admin-sidebar">
	<%= link_to root_path, class: "admin-sidebar__logo" do %>
		<%= image_tag "logo-white.svg" %>
	<% end %>
	<%= link_to "Notas", panel_articles_path, class: "admin-sidebar__link" %>
	<%= link_to "Es Noticia", panel_keywords_path, class: "admin-sidebar__link" %>
	<%= link_to "Salir", destroy_user_session_path, class: " button--logout admin-sidebar__link" %>
</div>