<div class="admin-sidebar">
	<%= link_to root_path, class: "admin-sidebar__logo" do %>
		<%= image_tag "logo-white.svg" %>
	<% end %>
	<% if current_user.create_articles_permission? or current_user.destroy_articles_permission? %>
		<%= link_to "Notas", panel_articles_path, class: "admin-sidebar__link" %>
		<%= link_to "Notas destacadas", panel_highlights_path, class: "admin-sidebar__link" %>
		<%= link_to "Palabras clave", panel_hashtags_path, class: "admin-sidebar__link" %>
		<%= link_to "Global Recomienda", panel_show_global_recommendations_path, class: "admin-sidebar__link" %>
		<%= link_to "Investigación Especial", panel_relationships_path, class: "admin-sidebar__link" %>
		<%= link_to "Colaboradores", panel_collaborators_path, class: "admin-sidebar__link" %>
		<%= link_to "Secciones", panel_sections_path, class: "admin-sidebar__link" %>
	<% end %>
	<% if current_user.video_complaints_permission? %>
		<%= link_to "Denuncia Global", panel_complaints_path, class: "admin-sidebar__link" %>
	<% end %>
	<% if current_user.radio_stations_permission? %>
		<%= link_to "Estaciones de Radio", panel_stations_path, class: "admin-sidebar__link" %>
	<% end %>
	<% if current_user.banners_permission? %>
		<%= link_to "Banners Publicitarios", panel_banners_path, class: "admin-sidebar__link" %>
	<% end %>
	<% if current_user.hits_permission? %>
		<%= link_to "Vistas a Página", panel_hits_path, class: "admin-sidebar__link" %>
	<% end %>
	<% if current_user.user_permission? %>
		<%= link_to "Usuarios", panel_users_path, class: "admin-sidebar__link" %>
	<% end %>
	
	


	<%= link_to "Salir", destroy_user_session_path, class: "button--logout admin-sidebar__link" %>
</div>