<div class="admin-sidebar">
	<%= link_to root_path, class: "admin-sidebar__logo" do %>
		<%= image_tag "logo-white.svg" %>
	<% end %>
	<%= link_to "Notas", panel_articles_path, class: "admin-sidebar__link" %>
	<%= link_to "Notas destacadas", panel_highlights_path, class: "admin-sidebar__link" %>
	<%= link_to "Palabras clave", panel_keywords_path, class: "admin-sidebar__link" %>
	<%= link_to "Global Recomienda", panel_show_global_recommendations_path, class: "admin-sidebar__link" %>
	
	<%= link_to "Secciones", panel_sections_path, class: "admin-sidebar__link" %>
	<%= link_to "Estaciones de Radio", panel_stations_path, class: "admin-sidebar__link" %>
	<%= link_to "Banners Publicitarios", panel_banners_path, class: "admin-sidebar__link" %>
	<%= link_to "Vistas a Página", panel_hits_path, class: "admin-sidebar__link" %>


	<%= link_to "Salir", destroy_user_session_path, class: " button--logout admin-sidebar__link" %>
</div>