<form id="fields-for-s3">
  <% @s3_direct_post.fields.map do |name, value| %>
      <input type="hidden" name="<%= name %>" value="<%= value %>" />
  <% end %>
</form>
<%= form_for [:panel, @station], multipart: true, html: { class: "station-form directUpload", data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host }} do |f| %>
  <!-- [Tus otros campos de estación aquí...] -->

  <div class="admin-form">
    <h3 class="section-title">Programas</h3>

    <% # Crear 12 programas por defecto %>
    <% 12.times do |i| %>
      <%= f.fields_for :timetables, @station.timetables[i] || @station.timetables.build do |builder| %>
        <div class="field-builder card">

          <div class="field">
            <label>Nombre del Programa</label>
            <%= builder.text_field :name, value: builder.object.name || "Programa #{i+1}" %>
          </div>

          <div class="field">
            <label>Locutores o Anfitriones</label>
            <%= builder.text_field :broadcasters %>
          </div>

          <div class="field">
            <label for="">Descripción:</label>
            <%= builder.text_field :description %>
          </div>

          <div class="multifield">
            <div class="timefield">
              <label>Hora de Inicio:</label>
              <div class="field">
                <%= builder.time_select :streaming_hour, default: {hour:"00", minute: "00"}, time_separator: "<span>:</span>" %>
              </div>
            </div>
            <div class="timefield">
              <label>Hora de Fin:</label>
              <div class="field">
                <%= builder.time_select :end_streaming_hour, default: {hour: "01", minute: "00"}, time_separator: "<span>:</span>" %>
              </div>
            </div>
          </div>

          <!-- [Resto de campos del programa...] -->

          <%= builder.hidden_field :_destroy %>
          <%= link_to 'Eliminar programa', '#', class: 'remove-program fields__remove delete', data: { index: i } %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= f.submit "Guardar" %>
<% end %>

<script>
  // Script para eliminar programas
  $(document).on('click', '.remove-program', function(e) {
    e.preventDefault();
    $(this).closest('.field-builder').find('input[name*="_destroy"]').val('1');
    $(this).closest('.field-builder').hide();
  });

  // Script para previsualización de imágenes
  $("input[type=file]").each(function(){
    var $input = $(this);
    if ($input.parents(".field").find("img").length == 0) {
      $input.before('<img class="form__image-preview">');
    }

    $input.change(function(){
      var reader = new FileReader();
      $(reader).on("load", function(event){
        $input.parents(".field").find("img").attr('src', event.target.result);
        $input.parents(".field").find("img").css("display", "block");
      });
      reader.readAsDataURL(this.files[0]);
    });
  });
</script>
<%= render "components/s3_form_js" %>