<form id="fields-for-s3">
	<% @s3_direct_post.fields.map do |name, value| %>
	    <input type="hidden" name="<%= name %>" value="<%= value %>" />
	<% end %>
</form>
<%= form_for [:panel, @station], multipart: true, html: { class: "station-form directUpload", data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host }} do |f| %>
	<% if @station.errors.any? %>	
		<div class="card">
			
			<h5><%= pluralize(@station.errors.count, "error") %></h5>
			<ul>
				<% @station.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="card admin-form">
		<h3 class="section-title">Estación / Canal</h3>

		<div class="field">
			<label>Nombre de la estación:</label>
			<%= f.text_field :name %>
		</div>
		<div class="field">
			<label>URL a playlist 1:</label>
			<%= f.text_field :playlist_1 %>
		</div>
		<div class="field">
			<label>Imagen para playlist 1:</label>
			<%= f.file_field :playlist_1_image %>
		</div>
		<div class="field">
			<label>URL a playlist 2:</label>
			<%= f.text_field :playlist_2 %>
		</div>
		<div class="field">
			<label>Imagen para playlist 2:</label>
			<%= f.file_field :playlist_2_image %>
		</div>
		<div class="field">
			<label>URL a playlist 3:</label>
			<%= f.text_field :playlist_3 %>
		</div>
		<div class="field">
			<label>Imagen para playlist 3:</label>
			<%= f.file_field :playlist_3_image %>
		</div>
		<div class="field">
			<label>URL a playlist 4:</label>
			<%= f.text_field :playlist_4 %>
		</div>
		<div class="field">
			<label>Imagen para playlist 4:</label>
			<%= f.file_field :playlist_4_image %>
		</div>
		<div class="field">
			<label>URL de Stream:</label>
			<%= f.text_field :stream_url %>
		</div>
		<div class="field">
			<label>URL de Facebook:</label>
			<%= f.text_field :facebook %>
		</div>
		<div class="field">
			<label>URL de Twitter:</label>
			<%= f.text_field :twitter %>
		</div>
		<div class="field field--checkbox">	
			<label>Canal de video:</label>
			<%= f.check_box	 :video %>
		</div>
		<div class="field field--checkbox">	
			<label>Noticiero:</label>
			<%= f.check_box	 :news %>
		</div>

		<div class="field">	
			<label>Imagen (logo): </label>
			<%= f.file_field :image %>
		</div>
	</div>
	
	
	<div class="admin-form">
		
	<h3 class="section-title">Programas</h3>
	
	<div class= "field-builder">
		<%= link_to_add_fields "Añadir Programa", f, :timetables, "", "Add a Program"%>
	</div>
	
		<%= f.fields_for :timetables, class: "field-builder" do |builder| %>
			<div class= "field-builder card">
					
				<div class="field">
					
					<label>Nombre del Programa</label>
					<%= builder.text_field :name %>
				</div>
				<div class="field">
					<label>Locutores o Anfitriones</label>
					<%= builder.text_field :broadcasters %>
				</div>				
				<div class="multifield">
					
					<div class="timefield">
						<label>Hora de Inicio:</label> 
						<div class="field">
							<%= builder.time_select :streaming_hour, default: {hour:"00", minute: "00"}, time_separator: "<span>:</span>" %> 
						</div>
					</div>
					<div class="timefield">
						<label>Hora de Fin:</label> 
						<div class="field">
							<%= builder.time_select :end_streaming_hour, default: {hour: "01", minute: "00"}, time_separator: "<span>:</span>" %> 
							
						</div>
					</div>
				</div>
				<div class="field">	
					<label>Días de la semana: </label>
				</div>
				<div class="field field--checkbox">
					<%= builder.check_box :monday %> 
					<label>Lunes</label> 
				</div>
				<div class="field field--checkbox">
					<%= builder.check_box :tuesday %> 
					<label>Martes</label> 
					
				</div>
				<div class="field field--checkbox">
					<%= builder.check_box :wednesday %> 
					<label>Miércoles</label> 
					
				</div>
				<div class="field field--checkbox">
					
					<%= builder.check_box :thursday %> 
					<label>Jueves</label> 
				</div>
				<div class="field field--checkbox">
					<%= builder.check_box :friday %> 
					<label>Viernes</label> 
					
				</div>
				<div class="field field--checkbox">
					<%= builder.check_box :saturday %> 
					<label>Sábado</label> 
					
				</div>
				<div class="field field--checkbox">
					<%= builder.check_box :sunday %> 
					<label>Domingo</label>
					
				</div>
				<div class="field">
					<label>Imagen para banner programático:</label>
					<%= builder.file_field :image %>
				</div>
				<div class="field">
					<label>Imagen del locutor o anfitrión:</label>
					<%= builder.file_field :broadcaster_image %>
				</div>
				
				<%= builder.hidden_field :_destroy %>
				<%= link_to_remove_fields 'Eliminar programa', builder, "fields__remove delete" %>

				
			</div>
		<% end %>
		
	</div>
	
	
	<% f.submit "Guardar" %>
<% end %>

<%= render "components/s3_form_js" %>
