<div class="panel__header">
	<h2 class="title panel__title"><span class="current">Investigación Especial</span></h2>
	<div class="panel__actions">
		<button class="button">Guardar Artículo</button>
	</div>
</div>
<%= @station.name %>
<%= form_for :panel, html: { class: "admin-form card" }, url: {controller: "panel/stations", action: 'set_station_articles'} do |f| %>
	<div class="field">
		
		<label>Artículo</label>
		<%= f.autocomplete_field(:first_article_id, autocomplete_article_name_panel_articles_path, :id_element => '#first_article_id', class: "search-bar", placeholder: "Buscar Artículo", type: "search" ) %>
		<%= f.hidden_field :station_id, value: @station.id %>
	</div>
	<%= f.submit %>
<% end %>
<script>
	saveFormOnButtonClick($("form"), $("button.button"));
</script>
<!-- 