<div class="panel__header">
	<h2 class="title panel__title"><span class="current">Usuarios</span></h2>
	<div class="panel__actions">
		<%= link_to "Nuevo Usuario", new_panel_user_path, class: "button" %>
	</div>
</div>
<div class="table card">
	<div class="table__row">
		<p class="table__cell f-2">Nombre:</p>
		<p class="table__cell f-3">Email:</p>
		<p class="table__cell super-small">Crear Notas:</p>
		<p class="table__cell super-small">Eliminar Notas:</p>
		<p class="table__cell super-small">Banners:</p>
		<p class="table__cell super-small">Hits:</p>
		<p class="table__cell super-small">Denuncia Global:</p>
		<p class="table__cell super-small">Estaciones:</p>
		<p class="table__cell super-small">Controles Remotos:</p>
		<p class="table__cell super-small">Usuarios:</p>

	</div>
	<% @users.each do |user| %>
		<div class="table__row">
			<%= link_to user.full_name, panel_user_path(user), class: "table__cell f-2" %>
			<p class="table__cell f-3"><%= user.email %></p>	
			
			<p class="table__cell boolean">
				<img src="/assets/<%= user.create_articles_permission%>.svg">
			</p>	
			<p class="table__cell boolean">
				<img src="/assets/<%= user.destroy_articles_permission%>.svg">
			</p>
			<p class="table__cell boolean">
				<img src="/assets/<%= user.create_articles_permission%>.svg">
			</p>
			<p class="table__cell boolean">
				<img src="/assets/<%= user.create_articles_permission%>.svg">
			</p>
			<p class="table__cell boolean">
				<img src="/assets/<%= user.create_articles_permission%>.svg">
			</p>
			<p class="table__cell boolean">
				<img src="/assets/<%= user.create_articles_permission%>.svg">
			</p>
			<p class="table__cell boolean">
				<img src="/assets/<%= user.create_articles_permission%>.svg">
			</p>
			<p class="table__cell boolean">
				<img src="/assets/<%= user.create_articles_permission%>.svg">
			</p>
			
		</div>
	<% end %>
	<% if @users.count == 0 %>
		<div class="table__row">
			<p class="table__cell table__empty">No hay usuarios para mostrar</p>
		</div>
	<% end %>
</div>
<%= will_paginate @users, class: "card admin-pagination" %>
