<form id="fields-for-s3">
	<% @s3_direct_post.fields.map do |name, value| %>
	    <input type="hidden" name="<%= name %>" value="<%= value %>" />
	<% end %>
</form>
<%= form_for [:panel, @article], multipart: true, html: { class: "admin-form form--article card directUpload", remote: true, data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } } do |f| %>
	<% if @article.errors.any? %>	
		<h5><%= pluralize(@article.errors.count, "error") %></h5>
			<ul>
				<% @article.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
				<% end %>
			</ul>
	<% end %>
	<div class="field field--string">
		<label>Sección</label>
		<% if current_user.video_complaints_permission? %>
			<%= f.select :articable_id, options_for_select( Section.all.collect{ |u| [u.name, u.id] }, @article.articable_id) %>
			<%= f.hidden_field :articable_type, value: "Section" %>
			<div class="field field--string">
			<label>Vídeo para Denuncia Global</label>
				<%= f.text_field :video_url %>
			</div>
		<% else %>
			<%= f.select :articable_id, options_for_select( Section.where("name != 'Denuncia Global'").collect{ |u| [u.name, u.id] }, @article.articable_id) %>
			<%= f.hidden_field :articable_type, value: "Section" %>

			
		<% end %>
	</div>
	

	<div class="field field--string">
		<label>Título de la Nota</label>
		<%= f.text_field :name, required: true %>
	</div>

	<div class="field field--string">
		<label>Autor de la Nota</label>
		<%= f.select :author_id, options_for_select( Author.all.collect{ |u| [u.name, u.id] }, @article.author_id), prompt: "Selecciona un Autor" %> 
	</div>

	<% if current_user.is_news_chief? %>
		<div class="field field--checkbox">
			<%= f.select :draft, options_for_select([['Borrador', 0], ['Aprobado', 1], ['No Aprobado', -1]], @article.draft) %>
		</div>

	<% end %>
	<div class="field field--datetime">
		<label>Fecha programada:</label>
		<div class="field">
			<%= f.datetime_select :scheduled_time, datetime_separator: "<span>-</span>", time_separator: "<span>:</span>" %>
		</div>
	</div>
	<div class="field">
		<label>Extracto</label>
		<%= f.text_area :short_description, required: true, data: { max_chars: 120 } %>
	</div>
	<% if @article.image %>
		<div class="field field--string">
			<label>Imagen principal acutal</label>
			<input type="text" disabled value="<%= @article.image %>">
		</div>	
	<% end %>
	<div class="field field--string">
		<label>Imagen principal</label>
		<%= f.file_field :image, required: true %>
	</div>
	<div id="note-editor">
		
	</div>
	
	<div class="field">
		<label>Hashtags: </label>
		<%= f.text_field :hashtags_names, placeholder: "Por ejemplo: #ESNOTICIA, #GLOBALMEDIA, #NUVAROCKS", id: "hashtags", value: @hashtags %>
	</div>
	
<% end %>
<script>
	char_count();
	initialize_quill(); 
</script>
<%= render "components/s3_form_js" %>