<div class="panel__header">
	<h2 class="title panel__title"><span class="current">Notas</span></h2>
	<div class="panel__actions">
		<%= link_to "Nueva nota", new_panel_article_path, class: "button" %>
	</div>
</div>
<div class="table card">
	<div class="table__row">
		<p class="table__cell name">Título:</p>
		<p class="table__cell short-description">Extracto:</p>
		<p class="table__cell user-name">Escritor:</p>
		<p class="table__cell date">Fecha:</p>
		<p class="table__cell edit">Editar:</p>
		<p class="table__cell delete">Eliminar:</p>
	</div>
	<% @articles.each do |article| %>
		<div class="table__row">
			<%= link_to article.name, article, class: "table__cell name" %>
			<p class="table__cell short-description"><%= article.short_description %></p>	
			<p class="table__cell user-name"><%= article.user.full_name %></p>	
			<p class="table__cell date"><%= article.created_at.strftime("%B %d, %Y") %></p>
			<%= link_to	"Editar", edit_panel_article_path(article), class: "table__cell edit" %>
			<%= link_to	"Eliminar", panel_article_path(article), class: "table__cell delete", method: :delete, data: { confirm: "¿Estas seguro de querer eliminar esta nota?" } %>

		</div>
	<% end %>
	<% if @articles.count == 0 %>
		<div class="table__row">
			<p class="table__cell table__empty">No hay artículos para mostrar</p>
		</div>
	<% end %>
</div>
