<div class="panel__header">
	<h2 class="title panel__title"><span class="current">Notas</span></h2>
	<% if current_user.create_articles_permission %>
		<div class="panel__actions">
			<%= link_to "Nueva nota", new_panel_article_path, class: "button" %>
		</div>
	<% end %>
</div>
<%= form_tag(panel_articles_path, method: :get, class: "admin-form admin-form--autocomplete card ") do %>
	<%= text_field_tag :name, "", placeholder: "Búsqueda" %>
	<%= submit_tag 'Buscar', name: nil %>
<% end %>

<div class="table card">
	<div class="table__row">
		<p class="table__cell f-2">Título:</p>

		<p class="table__cell">Estatus:</p>
		<p class="table__cell">Programado:</p>

		<p class="table__cell">ID:</p>
		<p class="table__cell">Sección:</p>
		<p class="table__cell">Escritor:</p>
		<p class="table__cell">Vistas:</p>
		<p class="table__cell">Fecha:</p>
		<p class="table__cell edit">Editar:</p>
		<% if current_user.is_news_chief? %>
			<p class="table__cell">Publicar:</p>
		<% end %>
		<% if current_user.destroy_articles_permission? %>
			<p class="table__cell delete">Eliminar:</p>
		<% end %>

	</div>
	<% @articles.each do |article| %>
		<div class="table__row">
			<%= link_to article.name, article, class: "table__cell f-2" %>

			<% if article.published? %>
				<p class="table__cell">Publicado</p>	
			<% else %>
				<% if article.draft == 0 %>
					<p class="table__cell">Borrador</p>	

				<% end %>

				<% if article.draft == 1 %>
					<p class="table__cell">Aprobado</p>	
				<% end %>

				<% if article.draft == -1 %>
					<p class="table__cell">No aprobado</p>	
				<% end %>

				
			<% end %>
			
			<p class="table__cell"><% if article.scheduled_time %><%= article.scheduled_time.strftime("%B %d, %Y %H:%M") %><% end %></p>

			<p class="table__cell"><%= article.id %></p>
		 	
			<% if article.articable and article.articable.name %>
				<%= link_to article.articable.name, panel_section_path(article.articable.name), class: "table__cell" %>
			<% else %>
				<p class="table__cell">Ninguna</p>
			<% end %>
			<% if article.user %>
				<p class="table__cell"><%= article.user.full_name %></p>	
			<% else %>
				<p class="table__cell">--</p>
			<% end %>
			
			<p class="table__cell">
				<%= article.hits.sum(&:number) %>
			</p>	
			<p class="table__cell"><%= article.created_at.strftime("%B %d, %Y") %></p>
			<%= link_to	"Editar", edit_panel_article_path(article), class: "table__cell edit" %>
			<% if current_user.is_news_chief? and !article.published? %>
				<%= link_to	"Publicar Ahora", panel_article_publish_now_path(article), class: "table__cell edit", data: { confirm: "¿Estás seguro? Esta acción publicará la nota inmediatamente" } %>
			<% else %>
				<p class= "table__cell">Publicado</p>
			
			<% end %>
			<% if current_user.destroy_articles_permission? %>
				<% if article.global_recommendation? == false %>

					<%= link_to	"Eliminar", panel_article_path(article), class: "table__cell delete", method: :delete, data: { confirm: "¿Estás seguro de querer eliminar esta nota?" } %>
				<% else %>
					<p class="table__cell delete">No se puede eliminar</p>
				<% end %>
			<% end %>

		</div>
	<% end %>
	<% if @articles.count == 0 %>
		<div class="table__row">
			<p class="table__cell table__empty">No hay artículos para mostrar</p>
		</div>
	<% end %>
</div>
<%= will_paginate @articles, class: "card admin-pagination" %>
