<h1>Es Noticia</h1>
<%= form_tag keywords_path do %>
  <% @keywords.each_with_index do |keyword, index| %>
    <%= fields_for 'keywords[]', keyword do |f| %>

      <div class="field">
        <label>Palabra Clave <%= index + 1 %></label><br>
        <%= f.text_field :keyword %><br>
       
      </div>
     

    <% end %>
  <% end %>
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>