<div class="section-preview">

	<%= link_to section, class: "sp__header" do %>
		<div class="sp__name" style="color: <%= section.color %>"><%= section.name %></div>
		<p class="sp__link" style="background-color: <%= section.color %>">Ir a sección</p>
	<% end %>
	<div class="sp__articles">
		<% if highlight and highlight != ""%>
			<div class="sp__article">
				<%= link_to highlight do %>
					<%= image_tag highlight.image, class: "sp__image" %>
					<h4 class="small-title"><%= highlight.name %></h4>
				<% end %>
				<%= render "components/social-media-links", article: highlight %>
			</div>
		<% end %>

		<% articles.each do |article|%>	
			<div class="sp__article">
				<%= link_to article do %>
					<% if article.image %>
						<%= image_tag article.image, class: "sp__image" %>
					<% end %>
					<h4 class="small-title"><%= article.name %></h4>
					<% if article.exclusive? %>
						<p class="exclusive">EXCLUSIVA</p>
					<% end %>
				<% end %>
				<%= render "components/social-media-links", article: article %>
			</div>
		<% end %>
	</div>
</div>