<div class="section-preview">

	<%= link_to section, class: "sp__header " do %>
		<div class="skews">
			<div class="sp__skew sp__skew-1"></div>
			<div class="sp__skew sp__skew-2"></div>
			<div class="sp__skew sp__skew-3"></div>
		</div>
		<div class="sp__name" style="background-color: <%= section.color %>"><%= section.name %></div>
		<p class="sp__link" style="background-color: <%= section.color %>"><%= section.description %></p>
	<% end %>
	<div class="sp__articles">
		<% if highlight and highlight != ""%>
			<div class="sp__article ui-card">
				<% if highlight.image %>
					<%= link_to highlight, class: "sp__image-link" do %>
						<%= image_tag highlight.image, class: "sp__image" %>
					<% end %>
				<% end %>
				<div class="sp__info">
					
					<%= link_to highlight do %>
						<h4 class="small-title"><%= highlight.name %></h4>
					<% end %>
					<div class="social-media" data-article="<%= article_url(highlight) %>">
						<%= link_to ("whatsapp://send?text= Estoy leyendo en GlobalMedia: " + article_url(highlight)), data: { action: "share/whatsapp/share" }, class: "social-media__link whatsapp", target: "_blank" do %>
							<%= image_tag "whatsapp.svg" %>
						<% end %>
						<a class="social-media__link facebook" target="_blank" onclick="shareToFacebook(event);">
							<%= image_tag "facebook.svg" %>				
						</a>	

						<a href="https://twitter.com/share?url=<%= url_encode(article_url(highlight)) %>&via=GlobalMediaMx&text=Estoy%20leyendo%20en%20GlobalMedia%3A%20-" class="social-media__link twitter" target="_blank">
							<%= image_tag "twitter.svg" %>
						</a>
						<a class="social-media__link copy" target="_self" data-clipboard-text="<%= article_url(highlight) %>">	
							<input class="hidden" value="<%= article_url(highlight) %>">
							<%= image_tag "copy.svg" %>
						</a> 
					</div>
				</div>
			</div>
		<% end %>

		<% articles.each do |article|%>	
			<div class="sp__article ui-card">
				<%= link_to article, class: "sp__image-link" do %>
					<% if article.exclusive? %>
						<p class="exclusive">EXCLUSIVA</p>
					<% end %>

					<% if article.image %>
						<%= image_tag article.image, class: "sp__image" %>
					<% end %>
				<% end %>
				<div class="sp__info">
					
					<%= link_to article do %>
						<h4 class="small-title"><%= article.name %></h4>
					<% end %>
					<%= render "components/social-media-links", article: article %>
				</div>
			</div>
		<% end %>
	</div>
</div>