<!DOCTYPE html>
<html>
  <head>
    <title>Global Media - Noticias</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700" rel="stylesheet">
	<script src="https://platform.twitter.com/widgets.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

	<% if controller_name == "articles" and action_name == "show" %>
		<%= render "components/article_meta_tags", article: @article %>
	<% end %>

  </head>

  <body>
	<script data-turbolinks-permanent>
	  window.fbAsyncInit = function() {
	    FB.init({
	      appId      : '502512736803830',
	      xfbml      : true,
	      version    : 'v2.9'
	    });
	    FB.AppEvents.logPageView();
	  };

	  (function(d, s, id){
	     var js, fjs = d.getElementsByTagName(s)[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement(s); js.id = id;
	     js.src = "//connect.facebook.net/en_US/sdk.js";
	     fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));
	</script>

  	<% panel_url = request.url.include? (request.base_url + "/panel")%>
	<% if !panel_url %>
		<div class="top-padder"></div>
	<% end %>
	<div class="navigation">
		
		<%= render "components/topbar" if !panel_url %>	
		<%= render "components/header" if !user_signed_in? || !panel_url %>
		<%= render "components/navbar" if !panel_url %>
	</div>
	<% if !panel_url %>
		<script>
			var navflag = false; 
			$(window).scroll(function() {
				if ($(window).scrollTop() > 144 && navflag == false && $(window).width() > 1023) {
					TweenMax.to(".header--wrapper", .3, { maxHeight: 0 })
					navflag = true;
				}
				if ($(window).scrollTop() < 144 && navflag == true && $(window).width() > 1023) {
					TweenMax.to(".header--wrapper", .3, { maxHeight: 72 })
					navflag = false;
				}
			});
		</script>
	<% end %>
	<%= render "components/admin/admin-sidebar" if panel_url && user_signed_in? %>

	<% if user_signed_in? && panel_url %>
		<div class="interface interface--admin">
			<%= yield %>
		</div>
	<% else %>
	 	<div class="interface">
			<% if !panel_url %>
				<%= render "components/radio-banner" if !user_signed_in? || !panel_url %>
				<%= render "components/its-news" if get_todays_keywords.count > 0  %>
				<%= render "components/breaking-news" if false %>
			<% end %>
		    <%= yield %>
	 	</div>
 	<% end %>
	<%= render "components/footer" if !panel_url %>
  </body>
</html>
