
<!DOCTYPE html>
<html lang="es" xml:lang="es" xmlns="http://www.w3.org/1999/xhtml">


  <body>
<!-- 	<script data-turbolinks-permanent>
	  window.fbAsyncInit = function() {
	    FB.init({
	      appId      : '502512736803830',
	      xfbml      : true,
	      version    : 'v2.9'
	    });
	    FB.AppEvents.logPageView();
	  };

	  (function(d, s, id){
	     var js, fjs = d.getElementsByTagName(s)[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement(s); js.id = id;
	     js.src = "https://connect.facebook.net/en_US/sdk.js";
	     fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));
	</script> -->
  	<% if @article %>
		<link itemprop="thumbnailUrl" href="<%= image_url 'globalmedia.jpg' %>">

		<span itemprop="thumbnail" itemscope itemtype="https://schema.org/ImageObject">
		      <link itemprop="url" href="<%= image_url 'globalmedia.jpg' %>">
		</span>
	<% end %>

  	<% panel_url = request.url.include? (request.base_url + "/panel")%>
	<% if !panel_url %>
		<div class="top-padder"></div>
	<% end %>
	<p class="copied-link">Vínculo copiado</p>
	<div class="navigation">
		<%= render "components/topbar" if !panel_url %>
		<%= render "components/header" if !user_signed_in? || !panel_url %>
		<%= render "components/navbar" if !panel_url %>
	</div>
		<% if true %>
			<%= render "components/mobile-menu" if !panel_url %>
		<% end %>
	<%= render "components/stations-floating-bar" if !panel_url %>

	<%= render "components/admin/admin-floating-bar" if !panel_url and user_signed_in? %>

	<% if !panel_url %>
		<script>
			var navflag = false;
			var newsflag = false;
			$(window).scroll(function() {
				if ($(window).width() > 1023) {

					if ($(window).scrollTop() > 144 && navflag == false) {
						TweenMax.to(".header--wrapper", .3, { maxHeight: 0 });
						TweenMax.to(".logo-container img", .3, { width: 101.5 });
						TweenMax.to(".navbar, .dropdown-link, .dropdown", .3, { backgroundColor: "#212121" });
						navflag = true;
					}
					if ($(window).scrollTop() < 144 && navflag == true) {
						TweenMax.to(".header--wrapper", .3, { maxHeight: 72 })
						TweenMax.to(".logo-container img", .3, { width: 0 })
						TweenMax.to(".navbar, .dropdown-link, .dropdown", .3, { backgroundColor: "#424242" });
						navflag = false;
					}
				}
				if ($(window).width() > 1260) {
					if ($(window).scrollTop() > 144 && newsflag == false ) {
						newsflag = true;
						TweenMax.fromTo(".floating-news, .stations-floating-bar", .3, {
							opacity: 0,
							pointerEvents:  "none",
							y: -24
						}, {
							opacity: 1,
							pointerEvents:  "all",
							y: 0
						});
					} else if ($(window).scrollTop() < 144 && newsflag == true ) {
						newsflag = false;
						TweenMax.fromTo(".floating-news, .stations-floating-bar", .3, {
							opacity: 1,
							pointerEvents:  "all",
							y: 0
						}, {
							opacity: 0,
							pointerEvents:  "none",
							y: -24
						});
					}
				}

				if ($(window).width() < 1024) {
					if ($(window).scrollTop() > 72 && navflag == false) {
						var he = $(".header").height()-32;
						TweenMax.to(".header", .3, { maxHeight: he });
						navflag = true;
					}
					if ($(window).scrollTop() < 72 && navflag == true) {
						TweenMax.to(".header", .3, { maxHeight: ($(".header").height()) });
						navflag = false;
					}
				}
			});
		</script>
	<% end %>
	<%= render "components/admin/admin-sidebar" if panel_url && user_signed_in? %>

	<% if user_signed_in? && panel_url %>
		<div class="interface interface--admin">
			<% if flash.count > 0 %>
				<div class="flashes">
					<% flash.each do |key, value| %>
						<div class="alert alert-<%= key %>"><%= value %></div>
					<% end %>
				</div>

			<% end %>
			<%= yield %>
		</div>
	<% else %>
		<% if controller_name == "articles" and action_name == "show" %>
		 	<div class="interface interface--white">
		<% else %>
		 	<div class="interface">
		<% end %>
			<% if !panel_url %>
				<%= render "components/radio-banner" if !user_signed_in? || !panel_url %>
				<%= render "components/its-news" %>
				<%= render "components/breaking-news" if false %>
			<% end %>
		    <%= yield %>
	 	</div>
 	<% end %>
	<%= render "components/footer" if !panel_url %>


	<script>
		$(document).on('turbolinks:click', function(event) {
			try {
          clear_media();
      }
      catch (e) {
          console.error(e);
      }
		});
	</script>
	<script async>
		var clipboard = new Clipboard('.copy');

		$(document).on("click touchend", function(event){
			if ( $(event.target).is(".copy") ) {
				// clipboard.copy($(event.target).find("input").val());
				var clipboard = new Clipboard('.copy');

				TweenMax.fromTo(".copied-link", .3, {
					y: -36,
					opacity:  0
				},{
					y: 0,
					opacity: 1
				});
				TweenMax.to(".copied-link", .3, {
					y: 36,
					opacity:  0,
					delay: 1
				})
			}
		});
	</script>
  </body>

</html>
