<!DOCTYPE html>
<html>
  <head>
    <title>Global Media - Noticias</title>

    <%= csrf_meta_tags %>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700" rel="stylesheet">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
	<script src="https://platform.twitter.com/widgets.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
	
  	<% panel_url = request.url.include? (request.base_url + "/panel")%>

	<%= render "components/topbar" if !panel_url %>	
	<%= render "components/header" if !user_signed_in? || !panel_url %>
	<%= render "components/navbar" if !panel_url %>

	<%= render "components/admin/admin-sidebar" if panel_url && user_signed_in? %>

	<% if user_signed_in? && panel_url %>
		<div class="interface interface--admin">
			<%= yield %>
		</div>
	<% else %>
	 	<div class="interface">
			<% if !panel_url %>
				<%= render "components/its-news" %>
				<%= render "components/breaking-news" %>
			<% end %>
		    <%= yield %>
	 	</div>
 	<% end %>

  </body>
</html>
