<!DOCTYPE html>
<html>
  <head>
    <title>Global Media - Noticias</title>

    <%= csrf_meta_tags %>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
	<% if !request.url.include? (request.base_url + "/panel") %>
		<%= render "components/topbar" %>
		<%= render "components/header" %>
		<%= render "components/navbar" %>
	<% end %>
 	<div class="interface">
 	
		<% if !request.url.include? (request.base_url + "/panel") %>
			<%= render "components/its-news" %>
			<%= render "components/breaking-news" %>
		<% end %>
	    <%= yield %>

	    <% if user_signed_in? %>
			<%= link_to "Salir", destroy_user_session_path %><br/>
	    <% end %>
 	</div>
  </body>
</html>
