<!DOCTYPE html>
<html lang="es" xml:lang="es" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Global Media - Noticias</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>


	<%= render 'application/favicon' %>
	


	<link href="https://fonts.googleapis.com/css?family=Pragati+Narrow|Martel:900" rel="stylesheet">

	<script src="https://platform.twitter.com/widgets.js" async></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

	<% if controller_name == "articles" and action_name == "show" %>
		<%= render "components/article_meta_tags", article: @article %>
	<% end %>
	<% if controller_name == "stations" and action_name == "show" %>
		<%= render "components/station_meta_tags", station: @station %>
	<% end %>

	<script>


		var bindFacebookEvents, initializeFacebookSDK, loadFacebookSDK, restoreFacebookRoot, saveFacebookRoot;

		$(function() {
		  loadFacebookSDK();
		  if (!window.fbEventsBound) {
		    return bindFacebookEvents();
		  }
		});

		bindFacebookEvents = function() {
		  $(document).on('turbolinks:request-start', saveFacebookRoot).on('turbolinks:load', restoreFacebookRoot).on('turbolinks:load', function() {
		    return typeof FB !== "undefined" && FB !== null ? FB.XFBML.parse() : void 0;
		  });
		  return this.fbEventsBound = true;
		};

		saveFacebookRoot = function() {
		  if ($('#fb-root').length) {
		    return this.fbRoot = $('#fb-root').detach();
		  }
		};

		restoreFacebookRoot = function() {
		  if (this.fbRoot != null) {
		    if ($('#fb-root').length) {
		      return $('#fb-root').replaceWith(this.fbRoot);
		    } else {
		      return $('body').append(this.fbRoot);
		    }
		  }
		};

		loadFacebookSDK = function() {
		  window.fbAsyncInit = initializeFacebookSDK;
		  return $.getScript("//connect.facebook.net/en_US/sdk.js");
		};

		initializeFacebookSDK = function() {
		  return FB.init({
		    appId: '502512736803830',
		    status: true,
		    cookie: true,
		    xfbml: true,
		    version: 'v2.9'
		  });
		};


	</script>
  </head>

  <body>
<!-- 	<script data-turbolinks-permanent>
	  window.fbAsyncInit = function() {
	    FB.init({
	      appId      : '502512736803830',
	      xfbml      : true,
	      version    : 'v2.9'
	    });
	    FB.AppEvents.logPageView();
	  };

	  (function(d, s, id){
	     var js, fjs = d.getElementsByTagName(s)[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement(s); js.id = id;
	     js.src = "https://connect.facebook.net/en_US/sdk.js";
	     fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));
	</script> -->
  	<% if @article %>
		<link itemprop="thumbnailUrl" href="<%= image_url 'globalmedia.jpg' %>"> 

		<span itemprop="thumbnail" itemscope itemtype="http://schema.org/ImageObject"> 
		      <link itemprop="url" href="<%= image_url 'globalmedia.jpg' %>"> 
		</span>
	<% end %>

  	<% panel_url = request.url.include? (request.base_url + "/panel")%>
	<% if !panel_url %>
		<div class="top-padder"></div>
	<% end %>
	<p class="copied-link">Vínculo copiado</p>
	<div class="navigation">
		
		<%= render "components/topbar" if !panel_url %>	
		<%= render "components/header" if !user_signed_in? || !panel_url %>
		<%= render "components/navbar" if !panel_url %>
	</div>
	<%= render "components/mobile-menu" if !panel_url %>
	<%= render "components/stations-floating-bar" if !panel_url %>

	<%= render "components/admin/admin-floating-bar" if !panel_url and user_signed_in? %>
	
	<% if !panel_url %>
		<script>
			var navflag = false; 
			var newsflag = false; 
			$(window).scroll(function() {
				if ($(window).width() > 1023) {

					if ($(window).scrollTop() > 144 && navflag == false) {
						TweenMax.to(".header--wrapper", .3, { maxHeight: 0 }); 
						TweenMax.to(".logo-container img", .3, { width: 101.5 });
						TweenMax.to(".navbar, .dropdown-link, .dropdown", .3, { backgroundColor: "#212121" });
						navflag = true;
					} 
					if ($(window).scrollTop() < 144 && navflag == true) {
						TweenMax.to(".header--wrapper", .3, { maxHeight: 72 })
						TweenMax.to(".logo-container img", .3, { width: 0 })
						TweenMax.to(".navbar, .dropdown-link, .dropdown", .3, { backgroundColor: "#2768d1" });
						navflag = false;
					}
				} 
				if ($(window).width() > 1260) {
					if ($(window).scrollTop() > 144 && newsflag == false ) {
						newsflag = true;
						TweenMax.fromTo(".floating-news, .stations-floating-bar", .3, {
							opacity: 0, 
							pointerEvents:  "none", 
							y: -24
						}, {
							opacity: 1, 
							pointerEvents:  "all",
							y: 0
						});
					} else if ($(window).scrollTop() < 144 && newsflag == true ) {
						newsflag = false;
						TweenMax.fromTo(".floating-news, .stations-floating-bar", .3, {
							opacity: 1, 
							pointerEvents:  "all", 
							y: 0
						}, {
							opacity: 0, 
							pointerEvents:  "none",
							y: -24
						});
					}
				} 

				if ($(window).width() < 1024) {
					if ($(window).scrollTop() > 72 && navflag == false) {
						var he = $(".header").height()-32;
						TweenMax.to(".header", .3, { maxHeight: he });
						navflag = true;
					}
					if ($(window).scrollTop() < 72 && navflag == true) {
						TweenMax.to(".header", .3, { maxHeight: ($(".header").height()) });
						navflag = false;
					}
				}
			});
		</script>
	<% end %>
	<%= render "components/admin/admin-sidebar" if panel_url && user_signed_in? %>

	<% if user_signed_in? && panel_url %>
		<div class="interface interface--admin">
			<%= yield %>
		</div>
	<% else %>
		<% if controller_name == "articles" and action_name == "show" %>
		 	<div class="interface interface--white">
		<% else %>
		 	<div class="interface">
		<% end %>
			<% if !panel_url %>
				<%= render "components/radio-banner" if !user_signed_in? || !panel_url %>
				<%= render "components/its-news" if get_todays_keywords.count > 0  %>
				<%= render "components/breaking-news" if false %>
			<% end %>
		    <%= yield %>
	 	</div>
 	<% end %>
	<%= render "components/footer" if !panel_url %>
	<script>
		$(document).on('turbolinks:click', function(event) {
			clear_media();
		});
	</script>
  </body>

</html>
