<!DOCTYPE html>
<html>
  <head>
    <title>Global Media - Noticias</title>

    <%= csrf_meta_tags %>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

	<%= render "components/topbar" %>
	<%= render "components/header" %>
	<%= render "components/navbar" %>
	
 	<div class="breaking-news bar">
 		
 	</div>
 	<div class="interface">
		<%= render "components/its-news" %>
	    <%= yield %>
 	</div>
  </body>
</html>
